[2018-08-29 08:12] kevinhury opened #5 "Android keyboard back button is not clearing the text"

[2018-08-29 08:32] retyui commented on #5
Can provide more information, or a demo?

[2018-08-29 08:41] samitha9125 opened #6 "Secure type is not available as a prop"
Secure the input values by enabling a prop.

Ex: When Code is being typed, Typed Code will be replaced by * character or • character.

As an additional request, It's better to have dynamic secure typing. What I mean is when changing the value for secure type prop, all the already typed values are being changed.

[2018-08-29 11:59] samitha9125 opened #7 "Focus on Touch is not available on iOS (in Both Simulator and Device)"
When I touch done button (in iOS) or does not select `autoFocus` as `true`, cannot focus on the field manually by touching in iOS.

[2018-08-29 12:00] samitha9125 commented on #5
This works fine for me in Android Emulator (Nexus 5 API 26)

[2018-08-29 15:32] samitha9125 commented on #7
`npm install` did the trick. That was because of a missing component.

[2018-08-29 15:33] samitha9125 commented on #7
`npm install` did the trick. That was because of a missing component.

[2018-08-29 15:33] #7 closed

[2018-08-29 16:10] retyui commented on #5
@samitha9125
if there is no problem, can I close the issue?

[2018-08-29 17:29] #6 closed

[2018-08-29 17:31] retyui commented on #5
@kevinhury
Can we send `react-native info` output ?

[2018-08-30 04:23] samitha9125 opened #9 "Height between Code and Underline"
I just tried to reduce the height between Code we type and Underline which happens using `variant = 'border-b'` using  `getInputStyle={this.getInputStyle}` as you have mentioned. But it does not reduce the gap. Can I have a method suggestion to reduce the gap ?

**What I get**
<img width="271" alt="screen shot 2018-08-30 at 9 47 50 am" src="https://user-images.githubusercontent.com/36798097/448294

[2018-08-30 07:12] kevinhury commented on #5
Environment:
  OS: macOS High Sierra 10.13.6
  Node: 8.11.3
  Yarn: 1.6.0
  npm: 5.4.0
  Watchman: 4.9.0
  Xcode: Xcode 9.4.1 Build version 9F2000
  Android Studio: 3.0 AI-171.4443003

Packages: (wanted => installed)
  react: 16.2.0 => 16.2.0
  react-native: 0.52.0 => 0.52.0

[2018-08-30 07:16] retyui commented on #9
@samitha9125
You can change style for `lineHeigth` and `heigth` for that would get the desired result
Example: https://snack.expo.io/@retyui/calm-strawberries

[2018-08-30 09:24] #9 closed, assigned to nobody

[2018-08-30 18:05] retyui commented on #5
@kevinhury
Removing characters based on the `onkeypress` handler

And I checked the documents for the old version : https://facebook.github.io/react-native/docs/0.52/textinput#onkeypress. `onkeypress` handler not supported for Android.

[2018-09-01 08:46] #5 closed

[2018-09-26 09:27] dudovcic opened #11 "Wrong props"
node_modules/react-native-confirmation-code-field/index.d.ts(36,51): error TS2694: Namespace '".../node_modules/@types/react-native/index"' has no exported member 'TextInputProps'.
node_modules/react-native-confirmation-code-field/index.d.ts(43,34): error TS2694: Namespace '".../node_modules/@types/react-native/index"' has no exported member 'ViewProps'.
10:23:25 - Compilation complete. Watching f

[2018-09-26 09:34] dudovcic commented on #11
PR which fixes it: https://github.com/retyui/react-native-confirmation-code-field/pull/12

[2018-09-26 09:49] dudovcic commented on #11
It's actually Props on newer versions of RN.

[2018-09-26 09:49] #11 closed

[2018-09-26 10:09] retyui commented on #11
@dudovcic
What happens ?

[2018-09-26 10:13] dudovcic commented on #11
There was a naming change in RN at some point from Properties to Props.
I realised that I'm using an older RN version which has Properties instead of Props.

[2018-09-26 10:16] retyui commented on #11
@dudovcic I recomend you use latest RN version `0.57`

[2018-10-03 11:56] johnny32 opened #13 "Deleting one character causes input to not work"
This seems to only happen on iOS. Steps to reproduce:

1. Write the first character
2. Write the second character
3. Press backspace once to delete the second character
4. Write the second character again: the whole input gets deleted
5. Now everytime I reach the second character, it wipes all the characters

It looks like the "backspace" event is fired everytime I write something on the second in

[2018-10-03 12:08] retyui commented on #13
I try to reproduce in [Live Demo](https://snack.expo.io/@retyui/demo-for-react-native-confirmation-code-field) your steps, but all work.

Do you use latest version RN?

[2018-10-03 13:30] johnny32 commented on #13
I see it working there, but not on either the simulator or my iPhone X.

Here's the snippet code:

[code]

[2018-10-03 14:11] retyui commented on #13
What version react-native do you use ? And can make simple video demo?

[2018-10-04 17:21] retyui commented on #13
@johnny32  ^^

[2018-10-12 06:38] leeweisern opened #14 "Allow more customisation"
Hi thanks for the maintaining this module, previously i was using the react-native-confirmation-code-input, I'm able to set borderRadius for the cell, so even though its a box it has a slight curve.

I was wondering if you can allow that as well. Thanks #

[2018-10-12 06:50] retyui commented on #14
@leeweisern
Yes, you can add `borderRadius` using [getInputStyle](https://github.com/retyui/react-native-confirmation-code-field/blob/master/docs/API.md#getinputstyle-index-number-isfocused-boolean-hasvalue-boolean--object)

**Try this example:**
[code]

[2018-10-29 01:20] anniewey opened #15 "How to auto-fill for ios 12 >"
I think this case only applicable to ios12 and above.

Steps to reproduce:
1. Receive confirmation code sms, it will show up above keypad automatically.
2. When tap on it, it will fill in to first text box only

Suspecting it was due to confirmation code is combined from single text boxes. Any idea how to support this?

[2018-10-29 09:41] retyui commented on #15
The next version support to paste text
[code]

[CHANGELOG](https://github.com/retyui/react-native-confirmation-code-field/blob/beta/CHANGELOG.md)

[2018-11-01 20:23] #15 closed

[2018-11-01 20:23] #13 closed

[2018-11-02 01:02] anniewey commented on #15
Thanks, I'll try it out

[2018-11-05 02:38] anniewey commented on #15
@retyui Hi, pasting props is working in beta version but how do I change the input color? I was unable to change the text color using `getInputStyle`

[2018-11-14 06:40] murtraja opened #16 "Desynchronized onFocus and setState"
This is an amazing library, however I have ran into a problem while making it work for web using react-native-web (it works perfectly fine on android)

The problem is that after inputting a character, it stays on the 1st Input. After inputting 2nd character, it goes to the next. I tried to understand the problem by keeping logs and i found the following

1. Input is given to the 1st widget
2. Forc

[2018-11-14 06:54] retyui commented on #16
It's problem < RN 0.57 https://github.com/facebook/react-native/commit/5017b86

[2018-11-14 07:10] murtraja commented on #16
I am using
[code]

I don't think it's because of slowness. I believe it is a design issue (synchronization). On digging further I found that why it works in Android but fails to work in web.
[code]
In android it is always the case that setState call is completed and only after that onFocus is triggered (since we are using a JS Bridge, so all the work on JS gets finished before moving to another th

[2018-11-14 07:12] retyui commented on #16
Try to use `npm install react-native-confirmation-code-field@beta` new version

[2018-11-14 07:31] murtraja commented on #16
I tried with the beta, facing same issue + the input is not displayed at all. Which means that I am never able to go to next widget. Atleast with the master, I was able to type one character, click on next widget, type another, click on next and so on. But here even that workaround is gone :)

[2018-11-14 09:20] retyui commented on #16
Can you create a working demo with this problem?

[2018-11-14 11:57] murtraja commented on #16
I spent some time in making this work. But all I could do was [this](https://codesandbox.io/s/14jr1kq7q7). The reason that it is so difficult to get a working demo lies in the config necessary to:

1. transpile the module to commonJS
2. alias react-native to react-native-web
3. alias react-native/Libraries to react-native-web/src

which can be easily done via a webpack config (the bundler for reac

[2018-11-15 09:11] murtraja commented on #16
Well as I mentioned earlier, I am making this work on web, so a snack wouldn't be helpful here for repro. Additionally, it works fine for native, so there isn't any point going there.

Also I have found a solution for master branch that works for native as well as web. In a nut shell, continuing the discussion from [above](https://github.com/retyui/react-native-confirmation-code-field/issues/16#is

[2018-11-15 11:20] retyui commented on #16
@murtraja
I haven't worked with react-native-web before. I find it hard to understand what your problem is, if you have already solved the problem, you can create PR

[2018-11-17 15:53] retyui commented on #16
Fixed in latest version!

[2018-11-17 15:53] #16 closed

[2018-11-23 01:54] gangadhartinmen opened #22 "canPasteCode is not working properly ? or did I done a mistake ?"
I had implemented this component in my project with canPasteCode={true}.
the copied 4 letter word (for Eg: 1234) is getting copied in the first of the four boxes.

Could you please help me?

[2018-11-23 03:34] gangadhartinmen commented on #22
When I pasted 4 digit number, It is getting pasted in first of the four boxes and throwing the error as "Invalid attempt to spread non-iterable instance"

[2018-11-24 07:56] retyui commented on #22
Can you create a simple demo to reproduce this issue?

[2018-11-25 13:34] retyui commented on #22
It works for me

![](https://media.giphy.com/media/wJPw2dEbSFfSilBkRq/giphy.gif)

[2018-11-26 07:15] gangadhartinmen commented on #22
Thank you so much for your response.

import ConfirmationCodeInput from 'react-native-confirmation-code-field';

inputStyle = (index, isActive, hasValue) => {
	if (hasValue) {
		return styles.inputNotEmpty;
	}
	return null;
};
inputProps = () => ({
	keyboardType: 'numeric',
	style: styles.input,
});

onFinishCheckingCode = code => {
	if (code === '1234') {
		return Alert.alert('Confirmation Code',

[2018-11-26 07:19] retyui commented on #22
@gangadhartinmen What version RN do you use?

[2018-11-26 07:42] retyui commented on #22
So I tested on my Samsung s9, and it still works
Here demo repo: https://github.com/retyui/demo-confirmation-code-field-issue-22-

![](https://media.giphy.com/media/238iPJ9wBl54JY9XjZ/giphy.gif)

[2018-11-26 07:44] retyui commented on #22
It would be better to start debugging the problem.

https://facebook.github.io/react-native/docs/debugging

[2018-11-26 09:13] gangadhartinmen commented on #22
Thank you.
I will debug and let you know.

[2018-11-28 01:42] reedyrm opened #23 "Spread operator over string is not supported on device"
I'm running into an issue in production with the library with the following stack trace.

[code]

The source map shows that line

`const newCodeSymbols = this.normalizeNewCode([...codeSymbols, ...text]);`

is failing.  I had canPasteCode=true and the user was able to type 2 characters into the same box which is when the error occurred.  It looks like the react-native polyfill doesn't see text as a

[2018-11-28 06:55] retyui commented on #23
rel: https://github.com/retyui/react-native-confirmation-code-field/issues/22

[2018-11-28 07:00] #23 closed

[2018-11-28 07:00] retyui commented on #23
Thank you! :+1:

[2018-11-28 07:00] retyui commented on #22
Fixed in https://github.com/retyui/react-native-confirmation-code-field/pull/24

[2018-11-28 07:00] #22 closed

[2018-11-28 11:21] gangadhartinmen commented on #22
Thank you so much

[2018-11-29 12:53] matanelgabsi opened #25 "Unable to autofill code with sms code"
Hi there,
First of all - Love your work. This library saved me a lot of time :)
I currently have an issue with it - when I try to "paste" a code using the SMS code autocomplete (when you receive a code via SMS, and you can press on in like other auto complete suggestions), I get the wrong code.
Tried to debug it a bit, and it seems that handlerOnChangeText receives the code one char at a time, but

[2018-11-29 13:12] retyui commented on #25
IOS ?

[2018-11-29 13:13] matanelgabsi commented on #25
Oh sorry, yes :)

[2018-11-29 18:51] reedyrm commented on #23
Thanks for getting in quickly!

[2018-11-30 14:10] retyui commented on #25
I do not have such devices to test the problem, but no one bothers you to create a PR

[2018-11-30 14:12] retyui commented on #25
it is rather strange, just for this feature this flag was developed

[2018-12-12 08:07] gangadhartinmen commented on #25
![savingfromsms](https://user-images.githubusercontent.com/28722992/49855358-0108fc80-fe13-11e8-8d59-d5da69544bec.gif)

Facing the same problem in IOS when copying through SMS.
Could any one help me, to solve this?

[2018-12-12 08:09] gangadhartinmen commented on #25
It is getting pasted in 1st block with 3 dot symbols.

[2018-12-19 22:52] retyui commented on #25
https://github.com/retyui/react-native-confirmation-code-field/pull/26

[2018-12-31 07:15] gangadhartinmen commented on #25
Thanks. Will test it by today EOD and let you know.

[2018-12-31 14:35] matanelgabsi commented on #25
Hi @retyui , tested it now, and it works!
but for some reason this version broke something for me. I can't add a placeholder for the input. I define:

`inputProps={{
                  placeholder: "-",
                  style: {
                    fontSize: 16
                  },
                  placeholderTextColor: "#1E2B66"
                }}`

Am I missing something?

thank you!

[2019-01-02 12:54] gangadhartinmen commented on #25
![otp_ios_save](https://user-images.githubusercontent.com/28722992/50592789-9ef46200-0ebb-11e9-87ea-a517b4ec87f0.gif)

[2019-01-02 12:55] gangadhartinmen commented on #25
Thank you so much. Its working.

[2019-01-02 15:12] leonardobaggio commented on #13
The same issue has been discussed in the older repo and identified as a RN bug, that affect some older versions (the GIF demonstrates the exact behaviour @johnny32 wrote):

https://github.com/ttdung11t2/react-native-confirmation-code-input/issues/14

Since this repo is proposed to be the active fork of the original 'react-native-confirmation-code-input', I would suggest [this PR](https://github.co

[2019-01-02 15:22] retyui commented on #13
@leonardobaggio those PR already merged in the first version:
https://github.com/retyui/react-native-confirmation-code-field/blob/7f9aa00baa1f519fd75d90f880f6fbbc56d28948/src/components/ConfirmationCodeInput/ConfirmationCodeInput.js#L127-L152

[code]

[2019-01-03 15:35] #25 closed

[2019-01-03 15:36] retyui commented on #25
Thanks for your feedback
The component got better thanks to you

[2019-01-03 16:48] hoavo opened #28 "variant border-b is not work"
[code]

The border of Cell does not appear

[2019-01-03 16:57] retyui commented on #28
Can you show me a screenshot,  and what version do you use?

[2019-01-03 17:09] hoavo commented on #28
![screen shot 2019-01-04 at 00 09 22](https://user-images.githubusercontent.com/2727930/50651121-02ae8600-0fb5-11e9-8893-817d6d979c68.png)
[code]

[2019-01-03 18:20] retyui commented on #28
Is it a simulator?

[2019-01-03 18:32] retyui commented on #28
I create a simple example to understand the problem:
https://snack.expo.io/@retyui/thoughtful-cashew

it is a problem from react native and only in IOS

[2019-01-03 18:40] retyui commented on #28
But it's the only emulator. I will test this bug on real deviсe later

[2019-01-04 02:46] hoavo commented on #28
Thanks @retyui, i tested on real device, it's so weird

[2019-01-05 13:16] retyui commented on #28
@hoavo
Try to use the next version and will tell me it's work or not
[code]

[2019-01-06 16:46] hoavo commented on #28
@retyui Thanks, it's working fine.

[2019-01-07 19:10] #28 closed

[2019-01-25 06:08] tibup opened #30 "autoCapitalize"
Need to have some way to set the autoCapitalize property.

[2019-01-25 06:47] retyui commented on #30
[code]

[2019-01-31 15:20] reedyrm opened #31 "Cannot select inputs"
I'm running into an issue where if autoFocus={false}, the input boxes are not selectable(can get focus).

When autoFocus={true}, the input boxes are not selectable once there is a value, so if I mis-type a number, there is no way to change it.

Everything is working on version 2.0.5.  I'll look into this later, but curious if anyone has run into this issue.

Libraries:
"react-native": "0.57.8",
"r

[2019-02-01 06:16] retyui commented on #31
Fixed in https://github.com/retyui/react-native-confirmation-code-field/pull/32
Try to use the latest version :question:

[2019-02-06 09:14] sm2017 opened #35 "Feature request : disabled"
disabled props is needed

[2019-02-06 09:43] retyui commented on #35
How it will be work?

[2019-02-06 09:57] sm2017 commented on #35
Line textField , when disabled is true , you cannot modify code

[2019-02-06 11:16] retyui commented on #35
[code]

[2019-02-06 11:16] #35 closed

[2019-02-07 08:39] #31 closed

[2019-02-12 21:21] beastfromthefareast opened #37 "Accessibility - Differentiate between each input"
Each digit of the input has the same name when read by an accessibility assistant. Was wondering if there was a way to be able to differentiate between them? (Example, First Digit, Second Digit.. etc)

[2019-02-12 21:59] retyui commented on #37
I really don't know how to work with `accessibility`. Maybe it can help:

[code]

[2019-02-13 16:04] beastfromthefareast commented on #37
I got it to work by using the index from the renderInput's map function in ConfirmationCodeInput.js

[code]

[2019-02-14 09:56] jeremybdk opened #38 "Issue with testID"
Hello,
I'm trying to add a testID to my CodeInput but it's not working, it seems that it's not added to the input nor anywhere else in the view.

Here is my code:

`<CodeInput
     ref="codeInput"
     activeColor='rgba(0, 0, 0, 1)'
     codeLength={4}
     keyboardType="number-pad"
     inactiveColor='rgba(0, 0, 0, 1.3)'
     autoFocus={true}
     inputPosition='center'
     testID="code_input"

[2019-02-14 10:07] retyui commented on #38
@jeremybdk
Do you use end-to-end tests?

[2019-02-14 10:08] jeremybdk commented on #38
Yes I do with Detox

[2019-02-14 10:11] retyui commented on #37
[code]

[2019-02-14 10:11] #37 closed

[2019-02-14 10:23] retyui commented on #38
Fixed in [3.2.1](https://github.com/retyui/react-native-confirmation-code-field/blob/master/CHANGELOG.md#321)

[2019-02-14 10:23] #38 closed

[2019-02-14 10:24] jeremybdk commented on #38
Thanks a lot :)

[2019-02-14 10:25] retyui commented on #38
@jeremybdk
[code]

[2019-02-14 10:44] jeremybdk commented on #38
Unfortunately I don't think it's working,

                    ref="codeInput"
                    activeColor='rgba(0, 0, 0, 1)'
                    codeLength={4}
                    defaultCode={1111}
                    keyboardType="number-pad"
                    inactiveColor='rgba(0, 0, 0, 1.3)'
                    autoFocus={true}
                    inputPosition='center'

[2019-02-14 10:54] retyui commented on #38
Try to use  [`nativeID`](https://facebook.github.io/react-native/docs/view#nativeid)
[code]

[2019-02-14 11:19] jeremybdk commented on #38
Well it's still working, the issue I am facing is wit the testID in the CodeInput directly as it's not sent to the view, the one in inputProps and containerProps are working as expected.

[2019-02-15 16:04] beastfromthefareast opened #40 "Focus Order Issue"
Thanks for the update to support cell props, was very helpful!

I have a new problem now that I've been trying to fix for the last day and a half, but can't figure out. The TextInputCustom gets pinched between the 1st and 3rd Cell when I'm going through it with the screen reader focus. The 2nd cell gets pushed out to the end.

So when I focus it goes like this:
Cell 1, TextInputCustom, Cell 3, Cel

[2019-02-15 16:07] retyui commented on #40
Try this:
[code]

[2019-02-15 16:38] beastfromthefareast commented on #40
Didn't seem to have an effect. However, I managed to make it work by shrinking the textInputCustom vertically slightly, now the screen reader focuses in the correct order while still being touchable.

[2019-02-19 07:11] retyui commented on #40
In feature I will replace [<TextInput />](https://github.com/retyui/react-native-confirmation-code-field/blob/5dae0420e39bf1db09a2227d8083ff5322ebfc8b/src/components/Cell.js#L28) to `<Text />`
You should not interact with these Cells

[2019-02-19 07:11] #40 closed

[2019-02-27 11:52] ZeerakHameem opened #42 "How to update the default value?"
For example, we receive an OTP in the SMS. We somehow get the 6 digits code from the SMS using regex, now how to prefill the ConfirmationCodeInput with that new value? If i try to set this.setState({defValue:'123456'}). It doesn't reflect visually on the view.
NOTE
defValue: '222222' in the start.

[2019-02-27 11:54] retyui commented on #42
with platform do you mean?

[2019-02-27 11:54] ZeerakHameem commented on #42
I am working on android. I know on iOS we can use the suggestion strip on the keyboard. But i want to fill the fields programmatically on android from state.

[2019-02-27 11:56] ZeerakHameem commented on #42
[code]

This doesn't update the default value.

[2019-02-27 11:56] retyui commented on #42
https://github.com/retyui/react-native-confirmation-code-field/pull/36#issuecomment-462644571

[2019-02-27 11:56] #42 closed

[2019-02-27 12:03] ZeerakHameem commented on #42
Thanks man, it worked.

[2019-03-13 13:14] reedyrm opened #44 "Cannot Focus Code Input Cell once all fields are populated"
Thank you for getting out a fix to #32   I'm just now getting back into my mobile app and updating all dependencies.

When AutoFocus=true, everything is working as intended, but I'm running into a scenario where once all the inputs are populated, I cannot select the input again.

My scenario is where I typo the last number, I cannot select it and delete it.  I have to either add a clear button for

[2019-03-14 10:36] retyui commented on #44
Can you create video to understand problem?

[2019-03-15 13:06] cjpete commented on #35
@retyui whilst passing editable: false does prevent the cursor from activating, it still seems to clear the code out of the field.

[2019-03-15 13:23] retyui commented on #35
@cjpete can you create a video to understand the problem?

[2019-03-15 13:34] cjpete commented on #35
Hopefully this works:
![CodeEditField](https://user-images.githubusercontent.com/13134961/54434850-1437ab00-4727-11e9-8c03-9edb697b1ba2.gif)

[2019-03-15 13:45] retyui commented on #35
@cjpete Great! Thank you!

[2019-03-15 13:47] retyui opened #45 "Bag with `editable: false`"
Whilst passing editable: false does prevent the cursor from activating, it still seems to clear the code out of the field.

Hopefully this works:
![CodeEditField](https://user-images.githubusercontent.com/13134961/54434850-1437ab00-4727-11e9-8c03-9edb697b1ba2.gif)

_Originally posted by @cjpete in https://github.com/retyui/react-native-confirmation-code-field/issues/35#issuecomment-473287677_

[2019-03-15 13:59] #45 closed

[2019-03-15 14:03] retyui commented on #35
@cjpete fixed in 3.2.3

[2019-03-15 14:03] retyui commented on #45
@cjpete fixed in 3.2.3

[2019-03-15 14:11] cjpete commented on #45
Great - that seems to fix it. Thanks @retyui

[2019-03-16 16:08] reedyrm commented on #44
I can type in and delete each part of the code, but once the entire code is populated.  I'm unable to change the code.

Here is a link to a video to show the problem:
https://s3.amazonaws.com/quickbite-static-resources/videos/CodeFieldLastInput.mov

[2019-03-16 16:12] retyui commented on #44
I taste about this problem, this problem can only be found on the emulator

On Sat, Mar 16, 2019, 7:08 PM Richard G Reedy <notifications@github.com>
wrote:

[2019-03-16 16:12] #44 closed

[2019-03-23 18:43] ManigandanRaamanathan opened #47 "How to set input to accept only numerics?"
How to set input to accept only numerics?

[2019-03-23 19:05] retyui commented on #47
Read a documentation

[2019-03-23 19:16] ManigandanRaamanathan commented on #47
@retyui there are no mention of the numeric validation in text input

[2019-03-24 07:12] farshidshahmoradi1996 opened #48 "How set code to a state onTextChange?"
how can set code to a state onTextChange?
like normal inputs

[2019-03-24 07:38] retyui commented on #47
@ManigandanRaamanathan try this https://github.com/retyui/react-native-confirmation-code-field/pull/41#issuecomment-465217446

[2019-03-24 07:40] retyui commented on #48
Maybe it can help https://github.com/retyui/react-native-confirmation-code-field/pull/36#issuecomment-462644571

[2019-03-24 07:54] farshidshahmoradi1996 commented on #48
thanks @retyui
but yet i can't set code to state onTextChange
please give me an example onTextChange Set it to a State
like this:
`  <TextInput onChangeText={(text) => this.setState({text})} />`

[2019-03-24 08:32] retyui commented on #48
The 'react-native-confirmation-code-field'  is stateful component
You can't do it

[2019-03-24 08:47] farshidshahmoradi1996 commented on #48
So how can control the entry code?
with onFulfill can but if user delete the entry code what ?
I have a button to check the entry code
this button is disabled default
when the code FulFill this button enabled
but i want when the entry code deleted this button disabled again
have you any idea?

[2019-03-24 10:22] retyui commented on #48
[code]

[2019-03-24 14:17] ManigandanRaamanathan commented on #47
@retyui that solution throws error:-

![](https://user-images.githubusercontent.com/22089729/54880595-38129380-4e81-11e9-81cd-3b934190f3ab.png)

[2019-03-24 20:37] farshidshahmoradi1996 commented on #48
Thanks alot

[2019-03-25 06:27] #48 closed

[2019-03-25 06:29] retyui commented on #47
@ManigandanRaamanathan
Show me your code!

[2019-03-25 14:12] ManigandanRaamanathan commented on #47
@retyui

[2019-03-25 14:15] ManigandanRaamanathan commented on #47
@retyui

First I'm creating a new class
<img width="558" alt="image" src="https://user-images.githubusercontent.com/22089729/54926396-32818000-4f4b-11e9-919e-743fece339b9.png">

Then instead of calling the <CodeInput /> library, I'm calling <CustomCodeInput />
<img width="622" alt="image" src="https://user-images.githubusercontent.com/22089729/54926490-5f359780-4f4b-11e9-8b9f-bd965fbcf412.png">

T

[2019-03-25 14:18] retyui commented on #47
@ManigandanRaamanathan Try to remove the line `containerProps={ ... }`

[2019-03-25 14:22] ManigandanRaamanathan commented on #47
@retyui
I'm getting this error now
<img width="299" alt="image" src="https://user-images.githubusercontent.com/22089729/54927043-67da9d80-4f4c-11e9-90af-23d29e78b807.png">

[2019-03-25 14:24] retyui commented on #47
@ManigandanRaamanathan
You have some syntax error. create an example in https://snack.expo.io
it will be better than screenshots

[2019-03-25 14:24] retyui commented on #47
@ManigandanRaamanathan
You have some syntax error. create an example in https://snack.expo.io
it will be better than screenshots

[2019-03-25 14:26] ManigandanRaamanathan commented on #47
@retyui is it working on your end with the above given codes?

[2019-03-25 14:28] retyui commented on #47
@ManigandanRaamanathan  I don't care about `given codes`!
I need a working example to understand where you make a mistake!

[2019-03-25 14:28] #47 closed

[2019-03-25 14:31] ManigandanRaamanathan commented on #47
@retyui this is the snack link https://snack.expo.io/SJYGLwLdE  Please go through

[2019-03-25 14:51] ManigandanRaamanathan commented on #47
@retyui when you launch the app on the snack, it throws the same error

[2019-03-25 16:12] retyui commented on #47
@ManigandanRaamanathan
[3.3.0](https://github.com/retyui/react-native-confirmation-code-field/blob/master/CHANGELOG.md#330)

[2019-03-25 16:21] kations opened #50 "Invariant Violation: input is a void element tag and must neither have `children` nor use `dangerouslySetInnerHTML`."
Hi,
I tried to use this package with the latest version of react-native-web but this error occurred while rendering:

Invariant Violation: input is a void element tag and must neither have `children` nor use `dangerouslySetInnerHTML`.
    in input (created by TextInput)
    in TextInput (at Cell.js:29)

Would be great if it would work in web too. Used ist with the expo web alpha.
Thanks

[2019-03-25 16:31] retyui commented on #50
@kations The latest version doesn't support `react-native-web`
Use 2.x

[2019-03-25 16:31] #50 closed

[2019-03-25 16:31] ManigandanRaamanathan commented on #47
@retyui works great. Below is the code:-

`normalizeCode={(code)=>{
          const numbers = code.match(/\d+/g);

          return (Array.isArray(numbers) ? numbers.join('') : '')
}}`

[2019-03-27 04:50] murtraja commented on #50
@retyui, can you give a rough outline of what needs to be done so that it works for web as well? I don't want to use different versions for web and native.

[2019-03-27 05:37] retyui commented on #50
No, I can't

[2019-03-27 07:32] murtraja commented on #50
#52 this doesn't have blinking cursor support, but in Firefox  and Android, this works (will let you know after testing iOS too)

[2019-03-27 19:24] retyui commented on #50
@kations Good news [3.4.0]( https://github.com/retyui/react-native-confirmation-code-field/blob/master/CHANGELOG.md#340)

[2019-04-06 18:46] hemedani opened #56 "how can i change font family for code input"
in forked repo `react-native-confirmation-code-input` we have `codeInputStyle` which accept object and i assumed we can change `fontFamily` but seem's it's removed from your fork.
I want to change font to a persian font for showing correctly persian digits.

[2019-04-06 19:46] retyui commented on #56
https://github.com/retyui/react-native-confirmation-code-field/blob/master/docs/migration.md

[2019-04-06 19:46] #56 closed

[2019-04-20 20:07] emclab opened #58 "Animated example failed to show Verification button and input keyboard"
I am copying the animated example code from https://github.com/retyui/react-native-confirmation-code-field/blob/master/examples/src/realDemo/AnimatedExample/README.md. But there are a few issues. I don't understand how exactly the code works. Here is the animated scrren on android:

![Capture](https://user-images.githubusercontent.com/946013/56461753-b5d89a80-636c-11e9-8498-427c46e1dcf4.JPG)

Mine

[2019-04-21 05:45] #58 closed

[2019-05-10 19:31] brockmartin opened #60 "No way for autofocus to be true when default input has a value set"
I have autofocus set to true which works great, however when I add default input value autofocus doesn't work.  Would love to be able to set a placeholder for the input cell or have the default input value to act like palceholders instead of block autofocus because it thinks all cells are filled.

[2019-05-10 20:04] retyui commented on #60
what default value do you use?

[2019-05-10 20:14] brockmartin commented on #60
‘●’    <—— that

I can use something like this right?

inputProps={{ placeholder: '*' }}

[2019-05-10 20:18] retyui commented on #60
How about this prop
https://github.com/retyui/react-native-confirmation-code-field/blob/master/docs/API.md

[2019-05-10 20:26] brockmartin commented on #60
sorry super green to all this what am I looking for specifically in the docs to add some placeholder text to each cell

[2019-05-10 20:32] retyui commented on #60
I don't understand very well what the problem is

On Fri, May 10, 2019, 11:26 PM Brock Martin <notifications@github.com>
wrote:

[2019-05-10 20:33] brockmartin commented on #60
nvm

[2019-05-10 20:33] #60 closed

[2019-05-17 14:47] leozzitowned opened #61 "Include blurOnSubmit prop"
When I complete the code, I would like to keep the focus in the input.

Is it possible to do without .focus()? Because it generates a keyboard flicking.

Thanks for the component, by the way.

[2019-05-17 14:56] retyui commented on #61
What do you mean?

[2019-05-17 15:03] leozzitowned commented on #61
I mean, when the user completes the input, the only way to keep the focus on input is calling this.ref.focus() after the submit. But this causes a flick on the screen.

I made a PR for reference, but there was supposed to be a way to control blurOnSubmit.

https://github.com/retyui/react-native-confirmation-code-field/pull/62

[2019-05-17 21:03] #61 closed

[2019-05-24 15:38] humbkr opened #63 "Add an option to disable the cursor"
Hello,

Would it be possible to add an option to disable the cursor?
I currently have a design that is completely doable with your library, except for this small feature.
I think it would be interesting to have this option, as UX-wise using activeColor and inactiveColor can already by themselves indicate to the user which cell is active.

[2019-05-24 15:57] humbkr opened #64 "Text and cursor are misaligned when using big font sizes"
Hello,

Using basic options + custom styling with cellProps={{ style: {} }} to change the font size, I have strange behaviours on Android and iOS.

**iOS**
Small font: OK
<img width="226" alt="Screenshot 2019-05-24 at 17 34 35" src="https://user-images.githubusercontent.com/845297/58340059-406c5800-7e4b-11e9-8d87-673393356503.png">

Big font: KO, the cursor is not vertically centered
<img width="2

[2019-05-24 16:07] retyui commented on #63
You can extend current component

[code]

[2019-05-27 09:41] #63 closed

[2019-05-27 09:42] retyui commented on #64
You can use `lineHeight` to fix differences between platforms

[2019-05-27 09:42] #64 closed

[2019-06-12 03:52] siliconavengers commented on #38
Any answer? I'm using detox and facing same issue.

[2019-06-12 04:14] getinfyKiranreddy opened #65 "Is it support auto read OTP when I receive OTP from SMS?"
I am using this repo and it works super fine but I want to create auto read OTP when I receive OTP from SMS?

Please let me know how to create auto read OTP ?

Thanks

[2019-06-12 06:55] retyui commented on #65
For example, you can use [sms listener](https://www.npmjs.com/package/react-native-android-sms-listener) and then [insert the received code](https://github.com/retyui/react-native-confirmation-code-field#how-paste-or-clear-code)

[2019-06-12 06:55] #65 closed

[2019-06-18 22:16] chadhobson opened #66 "How to get the keyboard back after dismiss()?"
I've got a TouchableWithoutFeedback that dismisses the keyboard. If this happens, and I click on the first input box for the code, the keyboard doesn't come back and I can't input again.

What am I missing?

[2019-06-19 06:05] retyui commented on #66
Perhaps you should use '.focus()' or '.blur()' methods

[2019-06-19 14:35] chadhobson commented on #66
I got it working.

I had originally wrapped the <CodeInput> inside a <TouchableWithoutFeedback> but the onPress wasn't getting picked up. I ended up moving the <TouchableWithoutFeedback> **below** the <CodeInput> and absolute positioned it so it would be full screen, effectively overlaying a View on top of the <CodeInput> which picks up the OnPress now.

I'm getting the effect I want but it's jank

[2019-06-20 10:26] #66 closed

[2019-08-01 23:15] felixchan opened #67 "Cannot get code field to focus (or respond to any gestures)"
I cloned the Red Example.  I can't seem to get the field to focus.

[code]

[2019-08-02 07:13] retyui commented on #67
Can you provide an example for this problem and code ?

[2019-08-07 13:14] ssg-luke commented on #67
Yep same, I tried the Animated example

[2019-08-07 13:57] ssg-luke commented on #67
OK yep I figured it out. This component does not play well with Flexbox. If its inside a flex:1 container the text inputs will fill the entire screen. Quickest way to solve that is to wrap the component in a <View /> with a fixed height (based on your cell height etc)

[2019-08-07 14:03] retyui commented on #67
containerProps
You can use to pass custom style

[2019-08-07 15:47] soumyamishra89 opened #68 "Show text before mask"
Is there a way to see the entered text before the mask is applied?
It would be nice to see the text before mask is applied for better user experience.
Similar to when secureTextEntry is enabled on TextInput

[2019-08-07 17:37] retyui commented on #68
Good idea 👍
I will try do this

[2019-08-09 08:59] ssg-luke commented on #67
So I was actually doing that already with the style from the animated example i.e.
[code]
This still causes massive issues if not wrapped in an parent <View /> with height: CELL_SIZE.

[2019-08-09 09:10] retyui commented on #67
@ssg-luke
Can you create an example on https://snack.expo.io/,  to show your problem?

[2019-08-09 19:45] #68 closed

[2019-08-09 19:48] #67 closed

[2019-08-13 15:31] neiker opened #71 "Cursor should not inherit all styles from cell."
Hi! I need the cell text to be semi bold, but when `fontWeight` is set to cell, also is applied to `Cursor` component. So I need to apply this hack:
[code]

[2019-08-13 19:04] retyui commented on #71
That is a good point 👍
It will be fixed

[2019-08-15 15:39] #71 closed

[2019-08-19 06:31] booboothefool opened #73 ""textTransform" is not a valid style property."
Hi I am getting the following error when trying to import the library.
[code]

![Simulator Screen Shot - iPhone 8 - 2019-08-19 at 02 28 40](https://user-images.githubusercontent.com/13257645/63243727-6a0a0500-c229-11e9-82e0-b9282355b452.png)

[2019-08-19 06:36] retyui commented on #73
@booboothefool Can you tell me what version of `react-native` do you use?

[2019-08-19 18:08] giautm opened #74 "`tmpVsmwGj` was published in 3.7.1"
When I installed version `3.7.1` with `yarn`, in `node_modules/react-native-confirmation-code-field` It contain an folder as named `tmpVsmwGj`.  Content of that folder look like version 3.7.0

<img width="383" alt="Screen Shot 2019-08-20 at 1 04 47 AM" src="https://user-images.githubusercontent.com/12751435/63288299-891a9c80-c2e6-11e9-97f4-9212ddeeb156.png">
<img width="383" alt="Screen Shot 2019-

[2019-08-19 18:11] retyui commented on #74
Yes , it is

[2019-08-19 18:16] retyui commented on #74
fixed in `3.9.0`

[2019-08-19 18:16] #74 closed

[2019-08-19 18:16] #73 closed

[2019-08-19 18:17] giautm commented on #74
Cool, everything worked well. <3

[2019-08-20 03:56] booboothefool commented on #73
@retyui I am on Expo 30 which uses React Native 0.55.4. Expo is giving me a lot of trouble trying to upgrade - I always try and give up! But thank you, `react-native-confirmation-code-field@3.7.0` works great for me! 👍

[2019-08-21 03:16] diegorodriguesvieira opened #75 "Call onChangeText on inputProps"
Hello guys, I need your help
I need to know if there is some way to call onChangeText?

[2019-08-21 03:17] diegorodriguesvieira commented on #75
https://github.com/retyui/react-native-confirmation-code-field/issues/48

[2019-08-21 03:17] #75 closed

[2019-08-21 08:05] TranVanThaiSon opened #76 "Thanks team, but please give change number of cell input ? have a props so i don't know that ?"

[2019-08-21 08:10] retyui commented on #76
@TranVanThaiSon
Docs: https://github.com/retyui/react-native-confirmation-code-field/blob/master/docs/API.md

[2019-08-21 08:12] TranVanThaiSon commented on #76
thanks you, I think you should public it on document in npm page or
git.readme

Vào Th 4, 21 thg 8, 2019 vào lúc 15:10 undefined <notifications@github.com>
đã viết:

[2019-08-21 08:14] #76 closed

[2019-08-28 21:22] neiker commented on #48
@retyui: your solution will not work because `onTextChange` does not exists (it's `onChangeText` actually) and even if you change it to `onChangeText` will not work because its overwritted.
My solution is:
[code]

[2019-09-01 15:59] MaximovAlexander opened #77 "Release verison blank screen"
In debug version all is displayed correctly, but when compiled APK is only displayed blank screen.
version RN 0.60

[2019-09-01 16:19] retyui commented on #77
Could you provide demo repository?

[2019-09-02 10:20] AdrianBordeianu commented on #77
Same problem for react-native 0.58.5.

[2019-09-08 17:59] retyui commented on #77
So anyone can provide a demo repo?

[2019-09-09 00:38] tylerolechnowicz commented on #58
Hello, I am having this same issue. Using the animated example as a reference, when I click on the cells, the keyboard does not pop up so I can input anything. Please help!

[2019-09-09 03:49] tylerolechnowicz opened #78 "Cannot Focus on Input my Manually Pressing"
Hello,

I cannot focus on the input by manually pressing it, I have to instead set autoFocus={true}, but when I clear the input fields with the clear() function and then try to re-focus with focus() it does not focus.

Can you please explain why manually clicking on the input fields does not focus?

[2019-09-09 07:24] retyui commented on #78
Try to debug this code
https://github.com/retyui/react-native-confirmation-code-field/blob/03525ae7982953243afc690b3d20ec14e72af154/src/components/ConfirmationCodeInput/ConfirmationCodeInput.js#L198-L200

[2019-09-17 13:59] oskarszoon commented on #78
I have the same issue of not being able to click on the code input, but only when used inside a native modal. When the input is on a regular screen, all is fine.

[2019-09-17 14:01] retyui commented on #78
@oskarszoon can you create a [snack](https://snack.expo.io/) with modal variant?

[2019-09-30 11:15] LPranulis commented on #78
Same issue

[2019-10-02 07:17] poison commented on #78
Had the same issue, but for me setting the prop autoFocus to true did the trick

[2019-10-02 07:21] retyui commented on #78
Hey,
I repeat my question)
Someone can create demo with this bag ?

[2019-10-02 11:58] poison commented on #78
I've created https://github.com/poison/issue78 to demonstrate this issue (which was a clean project). Didn't get it working on snack since I couldn't import the module

[2019-10-02 12:01] retyui commented on #78
Thanks!

[2019-10-02 12:03] retyui commented on #78
@poison
It problem on iOS and Android?

[2019-10-02 12:04] powernic commented on #78
@retyui I have the same error on iOS.

[2019-10-02 12:15] poison commented on #78
Seems to work on Android, but not on iOS

[2019-10-02 13:13] powernic commented on #78
This works when the height of the parent block is set.
`<View style={{height:40}}> <CodeInput /></View>`

[2019-10-03 08:14] #78 closed

[2019-10-03 08:16] retyui commented on #77
@AdrianBordeianu
@MaximovAlexander
Hi!
Can we provide a demo app?

[2019-10-03 08:23] retyui commented on #78
Thanks a lot @poison!

Fixed in `4.0.0`

Diff [3.9.0 => 4.0.0](https://npmfs.com/compare/react-native-confirmation-code-field/3.9.0/4.0.0/)

[2019-10-16 14:43] makarkotlov opened #80 "Not working on ios"
Autofocus and onFulfill not working on ios. Fresh build. It shows the warning "-[RCTRootView cancelTouches] is deprecated and will be deleted soon". Android is working well. RN 0.61.2. Workaround is to add import 'react-native-gesture-handler' on top of index.js. onFulfill is working, but autofocus is still not. When manually focusing it show the same warning

[2019-10-16 18:31] retyui commented on #80
@makarkotlov
Can you record a video to demonstrate a problem, or share the code?

[2019-10-17 03:40] samthui opened #81 "Wrong 'onTextChange' function name"
In ```ConfirmationCodeInput.js```, method ```handlerOnTextChange```, the methodName to be inherited must be ```onChangeText```, not ```onTextChange```.
I think this only is a typo coz ```inputProps``` is of type ```ReactNative.TextInputProps```, so it only has ```onChangeText```, not ```onTextChange```.

[2019-10-17 08:04] retyui commented on #81
fixed on https://github.com/retyui/react-native-confirmation-code-field/blob/master/CHANGELOG.md#410

[2019-10-17 08:04] #81 closed

[2019-10-17 15:42] makarkotlov commented on #80
Thank you @retyui! I've found the issue and it's related to me using react-native-confirmation-code-input in one place instead of react-native-confirmation-code-field

[2019-10-17 15:42] #80 closed

[2019-10-17 16:10] makarkotlov opened #83 "Why onCodeChange was deleted?"
Why onCodeChange was deleted? Now to mimic it's behavior I must use ref. I'm using ^4.1.0. onChangeText that was added in 4.1.0 is not working. @retyi Look what you've done to my code

![image](https://user-images.githubusercontent.com/32848434/67026945-6e5f7b00-f111-11e9-9df9-865817c17214.png)

[2019-10-17 16:57] retyui commented on #83
Just read changelog:
https://github.com/retyui/react-native-confirmation-code-field/blob/master/CHANGELOG.md

[2019-10-20 05:13] yasir-netlinks opened #84 "How can I control onFulfill ?"
The default behavior when the user is done with the input of code, it executes `onFulfill` but what if I don't want this behavior and rather wait for the user to press a button and then run `onFulfill` function? can I do that!

[2019-10-20 05:49] retyui commented on #84
Yes, you can

[2019-10-20 05:50] yasir-netlinks commented on #84
@retyui could you please show the code where I'm able to do that, cuz I can't seem to find the prop

[2019-10-20 05:57] retyui commented on #84
You can ignore all on press events on button until i Fulfill would called

[2019-10-20 06:33] yasir-netlinks commented on #84
@retyui I think you didn't get what I meant, I don't want the `onFulfill` to run automatically after input is populated, but rather run the `onFulfill` on a button press (no automatically)

[2019-10-20 06:47] retyui commented on #84
Button this component don't have any buttons

[2019-10-21 15:30] makarkotlov opened #85 "How to paste code in CodeInput?"
I read the code from the sms and want to paste it in CodeInput automatically. How can I do that?

[2019-10-21 15:55] makarkotlov commented on #85
I've found the answer here https://github.com/retyui/react-native-confirmation-code-field/pull/36#issuecomment-462644571

[2019-10-21 15:55] #85 closed

[2019-10-24 21:05] retyui commented on #84
@yasir-netlinks  So...

[2019-10-24 21:12] retyui commented on #83
@makarkotlov
I’m not sure I understand what kind of method the `onCodeChange`

And the screenshot you proposed does not reflect the essence of the problem

[2019-10-30 07:24] tsukiaka opened #86 "[error] Invalid attempt to spread non-iterable instance"
I have this error with react-native@0.58.4 and the plugin is version 3.4.1. I find out after some debug that it was coming from this component. It was working properly before I don't really know what happened. It's seems to be only on Android.

Does someone has the same issue?

Edit: It's weird, when I use the remote live reload, it's working properly

[2019-10-30 08:26] #84 closed

[2019-10-30 08:26] #83 closed

[2019-10-30 08:26] #77 closed

[2019-10-30 08:39] retyui commented on #86
@tsukiaka
Can you provide an example of you's code or create demo repo to demonstrate problem, because I tried to reproduce it on `RN@0.58.0 + react-native-confirmation-code-field@3.4.1` and it work fine

[2019-10-30 08:54] tsukiaka commented on #86
I think it's working, actually the problem is after I try to bundle my app using:

react-native bundle --platform android --dev false --entry-file index.js --bundle-output android/app/src/main/assets/index.android.bundle --assets-dest android/app/src/main/res

After that, it's not working properly, maybe a problem in my end, I will investigate.

[2019-10-31 07:40] tsukiaka commented on #86
I fixed it by using this babel conf:

`module.exports = {
  presets: ["module:metro-react-native-babel-preset"],
  plugins: [
    [
      "@babel/plugin-transform-spread",
      {
        "loose": true
      }
    ]
  ],`

But now, when I type a code on android, all the code go in the first cell.

[2019-11-15 08:46] Thronie opened #87 "How to paste code in CodeInput with animation."

[2019-11-15 08:46] Thronie commented on #87
I read the code from the sms and want to paste it in CodeInput automatically. How can I do that?

[2019-11-15 08:47] retyui commented on #87
@Thronie Hi

[2019-11-15 08:47] retyui commented on #87
You can see an example in readme
https://github.com/retyui/react-native-confirmation-code-field#how-paste-or-clear-code

[2019-11-15 08:47] #87 closed

[2019-11-18 09:10] Thronie commented on #87
@retyui I want with animation how to do that.

[2019-11-18 09:16] retyui commented on #87
It will be the same, nothing special

[2019-11-26 17:22] tomsotte opened #88 "Add documentation for manual verification pattern"
A missing pattern on the documentation that I believe could be common case is when you have a button for manual code confirmation.
The "Verify" button might be disabled initially and enabled when the use fulfill the code. But if the user changes the code for any reason you need to determine when the user has edited the code. You have to re-set the button to a disabled state until the code is fulfi

[2019-11-27 07:03] retyui commented on #88
@tomsotte
Try this:
[code]

[2019-11-27 08:49] tomsotte commented on #88
Thanks, I see that's a better implementation as I don't have to make any assumption on the focus behaviour. I think you might make `onChangeText` as a prop for CodeInput or just add this in the documentation in the inputProps section.

[2019-11-27 08:53] #88 closed

[2019-12-10 13:23] AndrianinaH opened #89 "How to add BackgroundColor for each cell without hint text"
I have a problem putting the background color on each cell. The background looks good, but the background also applies to the text.
how to remedy it?

## Code
[code]
![codeInput](https://user-images.githubusercontent.com/24601597/70533078-58969100-1b69-11ea-8495-c0fa25b14443.png)

[2019-12-10 13:46] retyui commented on #89
@AndrianinaH
This is TextInput component problem on iOS. https://snack.expo.io/@retyui/bf98e9

You can try find some related issues on offical RN repo or don't use `rbga()`

[2019-12-10 13:46] #89 closed

[2019-12-11 09:29] max429 opened #90 "Don't show text before mask"
How show only mask symbol?

[2019-12-12 12:09] #90 closed

[2019-12-13 05:31] 97thjingba opened #92 "Can't check onChangeText here?"
just as the title, can not check the input value anytime ？

[2019-12-13 09:39] retyui commented on #92
Try:
[code]

[2019-12-13 09:39] #92 closed

[2019-12-13 09:41] 97thjingba commented on #92
thanke you！

[2019-12-17 21:42] necipallef opened #93 "Android cursor alignment bug"
When you type really fast, you can see some text in the center but some are aligned to the top. I am sharing a screenshot.
![bug](https://user-images.githubusercontent.com/11958773/71036728-4a2f1300-212f-11ea-92e2-f48ae4a2799e.png)

[2019-12-17 22:19] #93 closed

[2019-12-17 22:53] #86 closed

[2020-01-13 09:44] tharun208 opened #95 "Clearing on Previous Pin Values when I clicked the particular pin"
Let's say, I have a 4 data filled pin, When I clicked on the 3nd pin , the pin data (1,2,3) get's cleared and this is not supposed to happen.Is there a workaround possible ?

[2020-01-13 09:56] retyui commented on #95
@tharun208 Can you create a demo to demonstrate a problem?

[2020-01-13 10:55] tharun208 commented on #95
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/14926492/72250173-fc6bd480-3620-11ea-9e4b-83dfd3e538c0.gif)

I clicked on a particular index and it is clearing from the last to the particular index.

This is why because we are a maintaining your local state for input value's as a string, we need to convert it to an array of strings

[2020-01-13 10:58] retyui commented on #95
Oh I see
This behavior by default and cannot be configured

[2020-01-17 21:23] cybercoder opened #96 "change TextInput style"
[code]
fontFamily and fontSize don't change, Did i pass them wrong way?

[2020-01-18 09:26] retyui commented on #96
Please use a [cellProps](https://github.com/retyui/react-native-confirmation-code-field/blob/master/docs/API.md#cellprops-textinputprops--index-number-isfocused-boolean-hasvalue-boolean--textinputprops)

[2020-01-18 09:26] #96 closed

[2020-01-18 09:27] #95 closed

[2020-01-19 06:18] ianidi opened #97 "Add a prop for customizing cursor symbol"
Thank you for library, amazing work.

The title says it all. Currently cursor is |. In my usecase I would like to completely disable cursor, e.g. pass a prop like cursorSymbol={""}.

[2020-01-19 06:19] ianidi commented on #97
The same to customizing cursor style properties.

[2020-01-20 20:35] retyui commented on #97
You can create own wrapper `<CustomCodeInput/>` and rewrite `.renderCursor()` method to implement behavior described above

[code]

[2020-01-20 20:35] #97 closed

[2020-01-28 11:41] saidhappy010 commented on #92
I used the above code, it works, but the inputProps props does not display the input that I insert.
how could we resolve this issue ?.
thanks.

[2020-01-28 11:50] 97thjingba commented on #92
I do not know what you mean .? @saidhappy010

[2020-01-28 11:52] retyui commented on #92
@saidhappy010
In new version I rewrite this behavior
You can use `next` tag
[code]
But I need time to update documentation

[2020-01-28 13:50] saidhappy010 commented on #92
@retyui .Please could you give me an example

[2020-02-01 10:36] zihandev opened #99 "Cursor flickering on first field"
While trying to edit some other field (on press of 4th field out of 6 field code), the cursor flickers for a second on 1st field and then focuses on 4th field. Tried to manually focus on the clicked input field but did not work. Also while clicking on the focused field again, there are two cursors appearing on screen.
Issue can be seen on snack expo link as well.
https://snack.expo.io/@retyui/demo

[2020-02-03 07:49] retyui commented on #99
@zihandev It should be fixed in a new release 5.0.x

[2020-02-03 14:40] zihandev commented on #99
Hey yeah seems to be working now ! Great job. Just had one query, I was facing a bit of difficulty trying to clear the inputs on submit, I cleared inputs passing a reference to the codefiled component in previous version, which doesn't seem to be working with latest one. Is there an easier way to clear the inputs ?

Regards,
Zihan

[2020-02-03 20:40] retyui commented on #99
@zihandev

After invoke `.clear()` TextInput doesn't call onChange handler
You should manually set empty value:

[code]

[2020-02-04 05:59] LudinaReema opened #100 "Masking inputs dynamically"
The earlier way of masking inputs dynamically doesn't seem to work with latest version. Should i try and send symbol props through render cell function ? Not sure as to how this can be done.

These were the props i passed  to CodeField component in earlier version :
maskSymbol={props.mask ? '*' : null}
maskSymbolProps={{style: {fontSize: 20}, delay: 1500}}

[2020-02-04 08:37] retyui commented on #100
@LudinaReema Yes, in the new version we lost this functionality. I will add this soon

[2020-02-04 09:14] retyui commented on #100
Added 5.1.0

[code]

[2020-02-04 09:14] #100 closed

[2020-02-04 09:30] zihandev commented on #99
Yup working fine now ! Passed the reference through props and manually cleared the fields. Thanks a ton!
<CodeField
     ref={props.refs}
     clear={() => setValue('')}
//...
/>

[2020-02-04 09:30] #99 closed

[2020-02-04 12:33] zihandev commented on #100
The latest version is throwing a build error. (5.0.3)
events.js:183
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE :::8081
    at Server.setupListenHandle [as _listen2] (net.js:1360:14)
    at listenInCluster (net.js:1401:12)
    at Server.listen (net.js:1485:7)
  //..
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! LICHousing@0.0.1 start: `npx react-native start`

[2020-02-04 12:37] retyui commented on #100
i don't see any related to this module errors

[2020-02-04 14:02] zihandev commented on #100
Yeah fixed it....and this was the way i dynamically masked based on users choice. Just wanted your feedback if this was the right way or is there a better way ?

 renderCell={({index, symbol, isFocused}) => (
        <Text
          key={index}
          style={[styles.cell, isFocused && styles.focusCell]}
          onLayout={getCellOnLayoutHandler(index)}>
          {symbol ? (
            // use

[2020-02-05 16:39] manoj1416 opened #101 "Border Bottom for each input field is not appearing in iOS"
The style used for each input field is
[code]
Note: It is working fine in android

[2020-02-05 19:31] retyui commented on #101
See issue https://github.com/facebook/react-native/issues/23537

[2020-02-05 19:31] #101 closed

[2020-02-06 06:40] hengvenchang opened #102 "onFulfill doesn't get fired"
Amazing library so far! but when i try to use onFulfill props, it doesn't got called

<img width="897" alt="Screenshot 2020-02-06 at 1 39 35 PM" src="https://user-images.githubusercontent.com/17307495/73912087-38bfe700-48e6-11ea-9c37-86f967187216.png">

[2020-02-06 07:02] manoj1416 opened #103 "Clear button is not working in iOS"
When we try to clear the text in each input field by pressing into cross mark it is not clearing the text

[2020-02-06 08:24] retyui commented on #103
I think you have something like that:

[code]

[2020-02-06 08:29] retyui commented on #102
`blurOnSubmit`, `onFullfill` - are deprecated and removed props

You should use own `onChangeText` handler:

[code]

[2020-02-06 08:55] hengvenchang commented on #102
ohhhh! Thank you sir

[2020-02-06 08:55] #102 closed

[2020-02-06 10:55] manoj1416 commented on #103
thank you it is working

[2020-02-06 10:55] #103 closed

[2020-02-10 11:00] shachardevops opened #104 "can you add this example please ?"
https://raw.githubusercontent.com/retyui/react-native-confirmation-code-field/4.x/docs/img/animated.gif

[2020-02-10 16:25] retyui commented on #104
Yes, sure

[2020-02-10 16:38] retyui commented on #104
https://github.com/retyui/react-native-confirmation-code-field/tree/master/examples/DemoCodeField/src/AnimatedExample

[2020-02-10 16:38] #104 closed

[2020-02-12 11:58] vishgoel007 opened #105 "how can i use it in class components ?"

[2020-02-12 12:08] retyui commented on #105
Just use own wrapper:

[code]

[code]

[2020-02-12 13:11] #105 closed

[2020-02-12 14:55] vishgoel007 opened #106 "Prevent clearing all next fields when pressed on any field"

[2020-02-12 15:07] retyui commented on #106
can you explain how it should be work

[2020-02-12 15:18] vishgoel007 commented on #106
What i want is user able to change whichever field value without writing again the next fields code.

[2020-02-13 19:35] retyui commented on #106
I am afraid it not possible with current implementation

[2020-02-14 16:28] MFRamon opened #107 "Border Input Color Styles not applied for Component inside Codefield for iOS but they do appear on Android"
I've added a border color for when focusing on a Text Component inside a CodeField component ,these styles do apply for when running the app on Android but the same styles are not applied on iOS.

This is how it looks on both platforms :

iOS :
![Screen Shot 2020-02-14 at 10 25 04](https://user-images.githubusercontent.com/25883970/74548905-4bed3b00-4f14-11ea-92f1-267af3f274b3.png)

Android  :
![S

[2020-02-14 17:04] retyui commented on #107
Dublicate

https://github.com/retyui/react-native-confirmation-code-field/issues/101

[2020-02-14 17:04] #107 closed

[2020-02-14 20:14] MFRamon commented on #107
Oh,Thanks I'll give it a look

[2020-02-19 07:45] vishgoel007 opened #108 "Showing shadow in code digits text and cursor"
![code](https://user-images.githubusercontent.com/36643209/74812547-b689e680-5319-11ea-8be8-2094437c5552.png)
See you can see the shadow behind code. How can i remove this?

[2020-02-19 07:51] retyui commented on #108
@vishgoel007
Try to use:

[code]

[2020-02-19 14:10] vishgoel007 commented on #108
@retyui  How can i automatically focus on first cell when screen (using confirmation code field) is pushed ?

[2020-02-19 14:16] #108 closed

[2020-02-21 08:46] NguyenPhatBG opened #109 "Input fulfill code not display when keyboard close"
How can I display my code ? I using like example on git branch master.

[2020-02-21 08:58] #109 closed

[2020-02-21 10:14] NguyenPhatBG opened #110 "How to remove case enter code length equal CELL_COUNT, input code is remove?"
When the confirmation code is fully inputted, the input code is automatically cleared. How can I keep the input code from being cleared?

[2020-02-21 10:15] retyui commented on #110
sorry, can you explain your issue?

[2020-02-21 10:18] NguyenPhatBG commented on #110
I've updated my comment to describe the issue.

[2020-02-21 10:55] #110 closed

[2020-03-02 00:46] emclab opened #111 "is the onFulfill hook still available in ver 5?"
My app used ver 4 and after upgrade to ver 5, the module stopped working. Is the onFulfill hook still available in ver 5? I didn't find it in the doc and the examples. Thanks.

[2020-03-04 15:51] retyui commented on #111
Do you mean that you change cellCount dynamically? and after that something will broke ?

[2020-03-05 15:22] ddipi opened #113 "Clicking between cells causes next input to be first input"
Bug can be duplicated in the demoCode app - if I click between cells then next input I enter will be put in the first cell.

[2020-03-10 13:03] KDederichs commented on #111
He's probably looking for the 'onFulfill' callback that gets called when you have entered all of the code.
I'm wondering if that's gone as well, cause it's really useful for sending the input of the code fields to be validated

[2020-03-11 12:10] retyui commented on #111
it can be easily simulated in new the version:
[code]

[2020-03-14 04:49] #111 closed

[2020-03-17 22:10] retyui commented on #113
@ddipi
Make sure that you pass `onLayout={getCellOnLayoutHandler(index)}` prop to  root component of cell:

[code]

[2020-03-17 22:11] #106 closed

[2020-03-20 12:29] SMJ93 commented on #113
I think the docs are out of date:

[code]

There should be a `<View>` wrapper like you've explained above.

[2020-03-26 19:00] Saranchenkov opened #114 "TypeError using React Native v0.62.0"
I'm trying to migrate to react native 0.62.0 and see the following error on my screen on app start.
"react-native-confirmation-code-field": "^5.1.0"
"react-native": "0.62.0",

Everything works fine with "react-native": "0.61.5"

![image](https://user-images.githubusercontent.com/25454843/77685700-e4afb580-6fac-11ea-94e0-2e9c7529d9ea.png)

[2020-03-26 19:03] retyui commented on #114
Try to use next version

[code]

[2020-03-27 07:17] retyui commented on #114
@Saranchenkov Was it help? Can I close issue?

[2020-03-27 07:30] Saranchenkov commented on #114
@retyui Yes, it works, thanks!

[2020-03-27 07:31] #114 closed

[2020-03-28 11:12] ryantando opened #116 "Bug react-native 0.62.0 _reactNative.TextInput is not a constructor"
Upgrading react-native to 0.62.0 cause an issue on `TextInputCustom.js 7:5` due to the warning for old RN version

Got: `TypeError: _reactNative.TextInput is not a constructor`

[code]

[2020-03-28 11:14] retyui commented on #116
@ryantando duplicate https://github.com/retyui/react-native-confirmation-code-field/issues/114

[2020-03-28 11:14] #116 closed

[2020-04-05 13:12] #113 closed

[2020-04-06 09:40] JasonBenichou opened #117 "Border Radius - CodeField"
Hi,

I have a problem, borderRadius style doesn't work on iOS, but work on Android.

Can you help me please.
My code :

[code]

my styles :

[code]

Thank you for your help.

[2020-04-06 19:30] retyui commented on #117
it is a react-native issue

See https://github.com/facebook/react-native/issues/23537

[2020-04-08 08:34] osrl commented on #117
Is there a workaround for this?

[2020-04-08 08:46] retyui commented on #117
@osrl

Try to use:

[code]

[2020-04-10 21:44] jloracudris opened #118 "Help with the animated example"
Hey guys im really new to react native

your animated example works for me but i want to be able to show whats the user typed in each box, i wanna change that after a certain delay it transforms into a dot

Thanks!

[2020-04-10 21:48] jloracudris commented on #118
NVM i finally could do it, sry for creating an issue

[2020-04-10 21:48] #118 closed

[2020-04-17 08:55] marcorm commented on #78
@retyui unfortunately it seems to be an issue again with RN 0.62.2 (on 0.62.1 it works fine!).
To reproduce the error i just download the Example from this repo and upgrade to RN 0.62.2.

[2020-04-17 09:21] retyui commented on #78
@marcorm
Can you show me a  `node_modules/react-native/Libraries/Components/TextInput/TextInput.js` file?

[2020-04-17 16:06] marcorm commented on #78
Hi @retyui , sure. Here it is:
https://pastebin.com/nFU0fURJ

[2020-04-17 16:33] retyui commented on #78
thanks a lot
Oh, Now  I see the problem (
To fix it you can run:
[code]

[2020-04-27 18:00] whenmoon opened #119 "Pressing done button on Android number-pad does not dismiss keyboard"
When `keyboardType="number-pad"` on Android and I press the done / tick / continue button on the bottom right of the keyboard, the keyboard does not dismiss. I want to be able to hide the keyboard by pressing this button, as I can do using a normal text input. The only way to dismiss the keyboard is to press the small down facing arrow on the navigation bar at the bottom of the screen.

[2020-04-27 18:13] whenmoon opened #120 "Out of focus cells do not blur"
Great library! Out of focus cells do not blur for me. Here's my code:

[code]
Any idea what I need to change? Thanks

[2020-04-28 02:23] babyrusa opened #121 "Issue with Animated"
Hi, I copied the code from Animated example but it has been given a lot of similar errors like this for the animated. Probably different syntax?
[code]
Wish I could attach images

[2020-04-28 07:03] retyui commented on #120
@whenmoon
What version pf react-native do you use?

Can you show file contents `node_modules/react-native/Libraries/Components/TextInput/TextInput.js`

[2020-04-28 07:37] whenmoon commented on #120
Hi @retyui I'm using React Native v0.61.4 and react-native-confirmation-code-field v ^6.0, thanks.

Here is the contents of the file requested:

[code]

[2020-04-28 07:52] retyui commented on #120
@whenmoon
Try to use 5.x.x version for rn 0.61

[code]

[2020-04-28 08:04] #117 closed

[2020-04-28 08:40] salmanitb opened #122 "can i use this great library with class component?"
can i use this library for class component??

[2020-04-28 09:05] retyui commented on #122
@salmanitb Yes! You need to create a wrapper

[code]

[2020-04-28 09:07] retyui commented on #121
@babyrusa Could you please create a sample demo repo to reproduce this problem?

[2020-04-28 09:07] salmanitb commented on #122
ty so much...

[2020-04-28 09:15] retyui commented on #119
@whenmoon Please try

[code]

[2020-04-28 09:16] retyui commented on #122
@salmanitb Can I close this issue?

[2020-04-28 09:23] salmanitb commented on #122
@retyui ok.. if i have problem can i asking to u?

[2020-04-28 09:25] retyui commented on #122
@salmanitb Sure

[2020-04-28 17:18] whenmoon commented on #119
It works! Thank you :)

[2020-04-28 17:18] #119 closed

[2020-04-28 17:52] whenmoon commented on #120
Thanks I got it to work by using v5 and your mask example

[2020-04-28 17:52] #120 closed

[2020-05-06 19:19] gtwilliams03 opened #124 "AutoFocus first code field?"
I have been trying to figure out how to automatically autoFocus the first digit field for the code field to show the keyboard - but haven't been able to figure this out.  Currently, the user has to tap on the first field to show the keyboard and to start entering input.

Is there a way to do something like the `autoFocus` flag on a `TextInput` field?

[2020-05-06 21:00] gtwilliams03 commented on #124
Never mind - figured it out - I needed to pass in `autoFocus={true}`and spread the props.  Closing.

[2020-05-06 21:00] #124 closed

[2020-05-07 06:42] retyui commented on #124
ok, cool

[2020-05-07 08:32] duyk16 opened #125 "How to remove autoBlur when end editing"
I want to keep keyboard show by using `blurOnSubmit={false}` but it doesn't work. My keyboard still dismiss after event onEventEditing

my code version
`
"react-native": "0.62.2",
"react-native-confirmation-code-field": "^6.0.2",
`

[2020-05-08 07:15] retyui commented on #125
@duyk16
Try to remove this code:

[code]

[2020-05-11 09:18] retyui commented on #125
@duyk16 ...

[2020-05-11 09:19] retyui commented on #121
@babyrusa ...

[2020-05-11 14:17] duyk16 commented on #125
@retyui Thank you so much. It work for me :D

[2020-05-11 14:17] #125 closed

[2020-05-12 08:01] alexstrat opened #126 "Typing: CodeField component requires optional props of TextInput"
With the example from the Readme:
[code]

Got this typing error:

[code]

[2020-05-12 14:48] retyui commented on #126
@alexstrat

I've just created a react-native project based on typescript template nd check these issues

Everything works fine!

could you please create a demo repo ?

[2020-05-13 12:39] alexstrat commented on #126
Thanks for your answer!

Actually, I think I found a track.

You should be able to reproduce the issue if you use an older version of react-native and of its typing (0.60.x in my case). The required props `accessibilityValue`, `onAccessibilityEscape`, `passwordRules`, `rejectResponderTermination`, `importantForAutofillts` were added on `TextInput` in [recent versions](https://github.com/react-nati

[2020-05-14 08:16] retyui commented on #126
@alexstrat

Fixed in [6.1.0](https://github.com/retyui/react-native-confirmation-code-field/blob/master/CHANGELOG.md#610)

[2020-05-14 08:16] #126 closed

[2020-05-14 13:44] KDederichs opened #128 "6.1.0 ref is missing in typescript"
`TS2322: Type '{ value: string; onChangeText: (changeValue: string) => void; cellCount: number; keyboardType: "number-pad"; renderCell: ({ index, symbol, isFocused }: { symbol: string; index: number; isFocused: boolean; }) => ReactElement<any, string | ... 1 more ... | (new (props: any) => Component<...>)>; ref: RefObject<...>; }' is not assignable to type 'IntrinsicAttributes & { rootStyle?: any;

[2020-05-14 13:45] retyui commented on #128
@KDederichs Thanks, I will fix it immediately

[2020-05-14 13:49] retyui commented on #128
@KDederichs Try a new version 6.1.1

[2020-05-14 13:59] KDederichs commented on #128
Looks good, thanks a lot!

[2020-05-14 13:59] #128 closed

[2020-05-15 08:23] tayguohong opened #129 "Unmask the input when pressing a button"
Hi, thank you for providing this wonderful library. Can I unmask the code input as I mentioned in the title?

[2020-05-15 19:08] santinucera opened #130 "Trouble fulfilling code in input"
Hello @retyui ,
I am having trouble completing the code I receive via SMS. I'm not sure what I'm doing wrong. I think my code has some error, but I can't understand what it is. It would be amazing if you help me discover what it is or if there is an issue in the library. Thank you

[code]

[code]

[2020-05-16 09:16] retyui commented on #130
Let's try

[code]

[2020-05-16 09:20] retyui commented on #129
So if you use [MaskExample](https://github.com/retyui/react-native-confirmation-code-field/tree/master/examples/DemoCodeField/src/MaskExample)

just add a flag to control it

[code]

[2020-05-17 03:26] santinucera commented on #130
There's a chance I'm missing to add https://reactnative.dev/docs/textinput#textcontenttype in order to copy the code from the keyboard?

[2020-05-17 14:01] retyui commented on #130
That is normal syntax:
[code]

[2020-05-18 03:31] tayguohong commented on #129
@retyui After added this flag, how can I use this props? I am using this props here but seems not working.

`<CustomCodeField
                        value={this.state.codeFieldValue}
                        cellCount={6}
                        keyboardType="number-pad"
                        enableMask={false}
                        onChangeText={this._onFinishCheckingCode} />`

[2020-05-18 13:20] santinucera commented on #130
I fixed for iOS, I was having two issues. The first one was not having `textContentType` and the second one was the format of the OTP message. For Android I have to add a listener for the SMS in order to work this out

[2020-05-18 20:52] retyui commented on #129
That's strange

[2020-05-19 03:06] tayguohong commented on #129
Hmm, I am using this library in class component, do I need to add this props in the wrapper component first?

[2020-05-20 08:15] tayguohong commented on #129
@retyui
this is my full code. Please take a look as I may missed up something.
`import React, { useState } from 'react';
import {
    Text,
    StyleSheet,
    View,
    Platform
} from "react-native";
import {
    CodeField,
    Cursor,
    useBlurOnFulfill,
    useClearByFocusCell,
    MaskSymbol,
    isLastFilledCell,
} from 'react-native-confirmation-code-field';

export const CustomCodeField

[2020-05-20 08:30] retyui commented on #129
@tayguohong
Thanks, for example, I will check it recently

[2020-05-21 06:32] sreekanth-14 opened #131 "Expo Web"
Does it work on expo web?

[2020-05-21 13:36] retyui commented on #131
actually latest version  no(

but 4.x has this opportunity

https://snack.expo.io/@retyui/demo-for-react-native-confirmation-code-field

[2020-05-21 13:45] sreekanth-14 commented on #131
Thanks I'm using 4.0.0 right now. I'll give it a try.
PS: The above snack works fine. Should check in my project too.

[2020-05-21 13:51] retyui commented on #131
I will think about adding web support for the latest version

[2020-05-21 21:23] retyui commented on #129
Let's try to change the `delay`  value

[code]

[2020-05-21 22:00] retyui commented on #131
I will update expo example to the latest version and seems it work fine

https://snack.expo.io/@retyui/demo-for-react-native-confirmation-code-field

[2020-05-21 22:00] #131 closed

[2020-05-21 22:02] retyui commented on #130
@santinucera So can I close an issue?

[2020-05-22 03:56] tayguohong commented on #129
@retyui  it's still not working, I think because i didn't call this `setEnableMask` function. But I am not sure where should I call function. Sorry I am still not familiar with hook.

[2020-05-22 08:22] retyui commented on #129
You can use a `Switch` component to change this value

[code]

[2020-05-22 12:05] #130 closed

[2020-05-22 12:06] #121 closed

[2020-05-23 19:02] #129 closed

[2020-05-27 03:59] tayguohong commented on #129
@retyui Thanks, it is working now

[2020-05-28 03:46] crazypioneer opened #134 "Is there any callback for checking last input?"
onFulfill={(isValid) => this.onRegist(isValid)}

This is what is did in previous version.
But I can't find proper one on new version.

[2020-05-28 08:23] retyui commented on #134
@crazypioneer

Please check a CHANGELOG file. I described how to emulate this method on new versions

https://github.com/retyui/react-native-confirmation-code-field/blob/master/CHANGELOG.md#500

[2020-05-28 08:25] crazypioneer commented on #134
Thank you!
I already did it.

[2020-05-28 08:29] #134 closed

[2020-06-01 17:43] prometheas opened #135 "Proposed modification to support spacer elements"
My team and I are interested in using this component for numeric inputs of values that include hyphens (e.g., phone number and social security numbers). Would you be open to our attempting a PR for such a feature enhancement, perhaps adding a `formatting` prop that supports the ability to specify character groupings and a separator token.

Is this a feature that feels like a good fit for this comp

[2020-06-01 20:58] retyui commented on #135
@prometheas
I am glad that you use this library!

I designed API of this library to make super flexible and extendable

So it isn't a problem to use it as [masked TextInput](https://github.com/retyui/react-native-confirmation-code-field/tree/master/examples/DemoCodeField/src/FormattingExample)

[2020-06-01 21:58] retyui commented on #129
I created an example https://github.com/retyui/react-native-confirmation-code-field/tree/master/examples/DemoCodeField/src/UnmaskExample

[2020-06-02 22:07] #135 closed

[2020-06-02 23:49] prometheas commented on #135
So, wait. Does that mean you will or will not accept PRs for the proposed use case / feature addition?

[2020-06-03 08:12] retyui commented on #135
@prometheas
PRs Welcome

[2020-06-05 15:10] thiago-sandes opened #136 "Not working in IOS"
![Simulator Screen Shot - iPhone 11 - 2020-06-05 at 12 07 20](https://user-images.githubusercontent.com/26418631/83892564-37cc8400-a725-11ea-9a81-9f9cafee5e98.png)

Code input does not working in IOS for me.
Android, it's ok.

Code:

[code]

[2020-06-05 15:33] retyui commented on #136
@thiago-sandes

Can you give more details?

[2020-06-05 15:42] thiago-sandes commented on #136
The field for entering the code appears on Android, as you can see on the left. However, it does not appear in IOS, as you can see on the right.

![Screen Shot 2020-06-05 at 12 38 56](https://user-images.githubusercontent.com/26418631/83895987-d9ee6b00-a729-11ea-9487-438f224dafb0.png)

Its the complete component code.

[code]

[2020-06-05 15:43] thiago-sandes commented on #136
Above, @retyui

[2020-06-05 16:10] retyui commented on #136
@thiago-sandes
I need to see your `Styles.`

[2020-06-05 16:12] thiago-sandes commented on #136
@retyui

[code]

[2020-06-05 16:21] retyui commented on #136
@thiago-sandes
Now I see this is a react-native issue https://github.com/facebook/react-native/issues/23537

Please see these notes: https://github.com/retyui/react-native-confirmation-code-field/tree/master/examples/DemoCodeField/src/UnderlineExample#underline-example

[2020-06-05 16:40] thiago-sandes commented on #136
@retyui

Yes, you're right! It's working now.

Thanks!

[2020-06-05 16:40] #136 closed

[2020-06-09 12:25] adiBinen opened #137 "RTL support"
Hi,
I'm using an iOS device with RTL support and I have issues with the order of the characters in the code.
First, I typed 1 , 2 , 3 and 4, then I selected the second cell and it deleted the rest of the code as accepted (so now the code is '1'). But when I continue to type, it adds the characters to the start of the string. So when I typed '2', the code was '21', instead of '12'.
In addition, whe

[2020-06-09 15:57] retyui commented on #137
I will check this issue, and also I made a new release   now you can use v6 for react-native@0.61.x and below

[2020-06-09 16:25] retyui commented on #137
![](https://media.giphy.com/media/hUAFT2kCRE2iku5KwG/giphy.gif)

[2020-06-10 16:18] sidbentifraouine opened #138 "Clear by focus insn't working anymore"
First of all, huge thanks for the good job.

I had this issue on iOS Simulator (11) then I decided to try on your Expo examples:
![ezgif-1-c45b6743705f](https://user-images.githubusercontent.com/19405039/84292920-52e52c80-ab47-11ea-828f-8692c976952a.gif)

[2020-06-11 08:37] retyui commented on #138
@sidbentifraouine
I create a quick demo with RN "0.61.2" and code field "6.4.0"
and  it works fine

maybe you faced with an issue that I describe here: https://github.com/retyui/react-native-confirmation-code-field/tree/master/examples/DemoCodeField/src/UnderlineExample#underline-example

if no, could you please show your code

[2020-06-17 13:35] felire opened #139 "The last version is not separating cells"
Hi, I installed the last version and it's not separating cells. The field behaviour it's the same if there is or if there isn't `onLayout`. Here is my code:

this is my cell:
[code]

And here is an image on how it looks:

![Screen Shot 2020-06-17 at 10 34 26](https://user-images.githubusercontent.com/11776795/84904853-3769ac80-b086-11ea-96c3-e9e6206d4c0e.png)

I could put the cell margins using in

[2020-06-17 14:12] retyui commented on #139
Hi @felire
Will you try to add a margin for cells?

[2020-06-17 21:58] felire commented on #139
yes it works if I add a margin to the cells. But I thought that the library have that behaviour by default.

[2020-06-18 06:44] retyui commented on #139
actually no
this is your area of responsibility

[2020-06-18 06:44] #139 closed

[2020-06-18 06:44] retyui commented on #138
@sidbentifraouine hi hi

[2020-06-18 06:44] retyui commented on #137
@adiBinen hi hi

[2020-06-19 09:27] DwCleb commented on #45
Hello!
I still get this error, my editable props is false but the field clearing happens

[2020-06-19 09:30] retyui commented on #45
@DwCleb
What version do you use?

[2020-06-19 09:32] DwCleb commented on #45
@retyui
"react-native-confirmation-code-field": "^6.4.0"

[2020-06-19 09:43] DwCleb commented on #45
When `enable: false` the border bottom color is red.

The Code:
![Screenshot 2020-06-19 at 10 42 05](https://user-images.githubusercontent.com/30187750/85119364-8e53bb00-b219-11ea-9d50-d8043919d6ca.png)

The result:
![codefield](https://user-images.githubusercontent.com/30187750/85119233-59476880-b219-11ea-82f6-045b6468dae0.gif)

[2020-06-19 11:35] retyui commented on #45
@DwCleb Try to modify invocing `useClearByFocusCell`

[code]

[2020-06-19 13:41] DwCleb commented on #45
@retyui  Awesome!
Thank you so much!

[2020-06-23 00:15] flashman2 opened #140 "Copy/paste menu not appear on iOS"
On iOS 13.3, copy/paste menu does not appear with empty fields. If I enter some number/character then this system menu appears on double tap/long press as expected. Is there any workaround for this issue? I need to be able to copy/paste code using this functionality. Looking forward to any ideas.
![Code](https://user-images.githubusercontent.com/981169/85346968-ef7cd680-b518-11ea-81ab-5e34072892e2

[2020-06-23 09:18] DwCleb commented on #95
@retyui We have the possibility to open a PR to change this behavior?

[2020-06-23 09:26] retyui commented on #140
It is expected behavior. Let's have a look at these styles:
https://github.com/retyui/react-native-confirmation-code-field/blob/ad626b02541138f2a7e3148237152f77b74a775f/src/CodeField.styles.tsx#L8-L14

if you will press "Copy" will be copied all text value and "Paste" replace all text value

You can create own button to copy

---

To understand how real `<TextInput/>` looks like use, you can add:

[2020-06-23 09:35] retyui commented on #95
@DwCleb
PRs welcome!

[2020-06-25 16:11] binchik commented on #138
@retyui it didn't work for me either. I digged into the code and found out that `useClearByFocusCell` returns `{onPress}` handler as first param that should be spread into CodeField props which in turn is spread into hidden `TextInput` component's props. But react-native's TextInput doesn't support onPress. So instead of spreading the useClearByFocusCell's props into CodeField component, I used `o

[2020-06-25 16:51] retyui commented on #138
@binchik

It is a difficult situation

Because stability of workgroup with onPress depends on

- Platform
- react-native version
- this module version

So can you give me more details?

[2020-06-26 06:16] Symyon commented on #140
@retyui You mean expected behaviour to not show the copy option for an empty cell? That is understandable, what about paste text? The issue I'm having is not able to paste a code in the fields until I enter at least one value, same as the OP has posted above. Makes Pasting almost inutile. Do you think it can be fixed or is there a workaround you can suggest? A paste button can be done, but I would

[2020-06-27 05:43] binchik commented on #138
@retyui

I'm on RN 0.62.2. react-native-confirmation-field 6.4.0

`TextInput.onPress` does not work on both iOS and Androd.

`TextInput.onTouchStart`works on iOS. Haven't checked android yet, but in the react-native issue I mentioned, it's mentioned that you have to wrap TextInput in a touchabe component on Android. (The issue is mid 2017 and from what I experience it's still there).

[2020-06-28 16:31] mohammadrahmanian commented on #137
Hi. I have the same issue. When i'm using the app in RTL mode, code fields start to fill from right to left and it causes the code to mess up. when i'm entering 1-2-3-4-5 the app shows 5-4-3-2-1
![SC](https://user-images.githubusercontent.com/26001660/85952995-6800ee80-b982-11ea-91ec-d3d5e7056fef.jpg)

[2020-06-30 04:17] RishavGoswami opened #141 "Method onFulfill is not getting called upon entering all the codes"
I need to call a function when the user is done entering the code. In my case, the user needs to enter 5 code but as soon as he is done entering the 5th code the keyboard gets close and the onFulFill method is not getting called. When does the onFulFill method is called?

Below is the code I use. I want to call a function as soon as the user enters all the code.

[code]

[2020-06-30 07:37] retyui commented on #141
[`onFulfill` was deprecated, use onChangeText instead of it](https://github.com/retyui/react-native-confirmation-code-field/blob/master/CHANGELOG.md#500)

[2020-06-30 07:37] #141 closed

[2020-06-30 07:41] retyui commented on #137
@mohammadrahmanian

Try to apply the next styles to revert a cell's position

[code]

[2020-06-30 07:45] retyui commented on #138
`onTouchStart` & `onPress` don't work on Android!

I use a specific workaround to solve this issue [https://github.com/retyui/react-native-confirmation-code-field/blob/master/path-rn-62.js]

[2020-06-30 07:48] retyui commented on #140
@Symyon

No. I meant that copy\paste menu will appear in the beginning on component all the time

Please read first: https://github.com/retyui/react-native-confirmation-code-field#how-it-works And you will understand that I use a "viratual" TextInput under the Cells

[2020-06-30 13:08] Symyon commented on #140
@retyui the issue here is not that it appears at the beginning of the component, it will not appear at all untill you write first character. So having an empty TextInput and cells makes it impossible to show the copy/paste menu. It does work by Ctrl+v or cmd+v , but on the device or emulator we can't use those shortcuts, we need the contextual.menu that isn't showing to be able to paste anything.

[2020-06-30 19:10] RishavGoswami commented on #141
I've used onChangeText to get the input but, how would I know if the user is done entering all the code? Let's say, I set the cell count to 5, and after the user has entered 4 inputs, upon entering the last (5th) input I need to call a function.

[2020-07-01 20:14] Symyon commented on #140
@flashman2 @retyui  Found the issue. TextInput has set caretHidden to true. That disables any copy/paste actions when TextInput is empty. Not sure why it is there as I can't see any issues in my case if removed or set to false (default).
@retyui would you change that or if is there a reason to not, please let us know.

[2020-07-02 08:16] retyui commented on #140
@Symyon @flashman2

Fixed in [6.5.0](https://npmfs.com/compare/react-native-confirmation-code-field/6.4.0/6.5.0/)

[2020-07-02 08:16] #140 closed

[2020-07-06 12:23] lapico opened #142 "Support for "fast paste SMS-code" on iOS, and "custom code paste" on Android"
Hi,

First of all, thanks for the clean and simple to use library.

We build an IOS / Android app with Expo (non-ejected) and the "fast paste" feature is not working on either of the targeted platforms.

There is no example in the documentation, do you have any insight on how to achieve this ?

Do we have to use the sms-retriever-api or missed something ?

Best regards

[2020-07-06 13:58] retyui commented on #142
@lapico

is an iOS system feature:

https://support.apple.com/guide/iphone/automatically-fill-in-sms-passcodes-on-iphone-iphc89a3a3af/ios

[2020-07-06 15:42] lapico commented on #142
@retyui thanks for the quick answer,

What about "custom code paste" on Android, we tried the implementation from the examples but it didn't work.

Should we use `canPasteCode` or something like [this](https://github.com/retyui/react-native-confirmation-code-field/pull/36#issuecomment-462644571):
[code]

Any suggestion on what is the actual way to implement automatic copy/paste from sms ?

Thanks

[2020-07-06 18:03] retyui commented on #142
@lapico

Actually NO! this a legacy example. Since 5.x.x  `CodeField` is a stateless component and you should manipulate by your state value on the one layer above

[code]

[2020-07-07 10:06] mohammadrahmanian commented on #137
Thanks. It solved my problem.

[2020-07-07 15:28] lapico commented on #142
In my humble late experience, libraries like `react-native-sms-retriever` and `react-native-otp-verify` need native code and are not installing properly if Expo is not ejected.

I've found a workaround for Android using the Clipboard api:

[code]

And of course, sms needs to be formatted for the "copy" button to show :

`<#> Your app code is: 888888`

I still need to test that in production though

[2020-07-08 11:40] retyui commented on #142
@lapico Can I close issue?

[2020-07-08 16:33] firstfloordigital opened #143 "TypeError: setValue is not a function (clearByFocusCell)"
The app show TypeError: setValue is not a function and crashes.

react-native "0.61.5",
react-native-confirmation-code-field:6.5.0 (also tried 5.1.0 )

![Screenshot_5](https://user-images.githubusercontent.com/52122775/86945137-4d8afa00-c166-11ea-9e15-6f97e18a4eb2.png)

[2020-07-08 16:42] retyui commented on #143
Please show how do you use this component?

[2020-07-09 04:36] firstfloordigital commented on #143
const ref = useBlurOnFulfill({otpInput, cellCount: CELL_COUNT});
  const [props, getCellOnLayoutHandler] = useClearByFocusCell({
    otpInput,
    setOtpInput,
  });

<CodeInputContainer>
              <CodeField
                ref={ref}
                {...props}
                value={otpInput}
                onChangeText={setOtpInput}
                cellCount={CELL_COUNT}
                key

[2020-07-09 08:21] retyui commented on #143
That easy to fix :

[code]

[2020-07-10 04:49] firstfloordigital commented on #143
Thanks a ton, @retyui , it solved the issue

[2020-07-10 04:49] #143 closed

[2020-07-10 08:14] retyui commented on #137
@adiBinen Can I close this issue?

[2020-07-10 08:15] #142 closed

[2020-07-11 10:03] anastely commented on #137
@retyui Thanks,
Hey, @mohammadrahmanian  Can you tell me the font name you used in this screen?

[2020-07-11 13:11] mohammadrahmanian commented on #137
@anastely of course. it is Futura.
https://www.fonts.com/font/linotype/futura

[2020-07-13 09:47] lapico commented on #142
Yes thanks again!

[2020-07-23 08:43] llleyelll opened #144 "Keyboard not show after hide keyboard on Android"
If I hide keyboard on Android and tap code field to type again the keyboard won't show up. This issue is happens only on Android.

my code:
[code]

[2020-07-23 09:49] retyui commented on #144
@llleyelll

Try to remove focus instead of hiding keyboard

[2020-07-23 10:09] llleyelll commented on #144
I mean when I tap hide keyboard on device (Android). The keyboard won't show up.

[2020-07-23 10:18] retyui commented on #144
@llleyelll

I've just tried to reproduce this bug and I couldn't do that

Could you please record a video or create a demo repo?

[2020-07-23 11:09] llleyelll commented on #144
My issue was solved by adding listener.
[code]
then using `blur()` to remove focus when keyboard dismissed.

You can close this issue. Thanks

[2020-07-23 11:11] #144 closed

[2020-07-27 20:31] manuelmhtr commented on #138
For all fogs having the `TypeError: _reactNative.TextInput is not a constructor` error: **Update `react-native-confirmation-code-field` to `^6.5.0`**, that should work.

[2020-07-27 20:34] manuelmhtr commented on #138
@retyui you library is amazing, however I had bad times figuring out React Native 0.61 works with code field v5 and React Native 0.62 with code field v6. **You should add this to the documentation**, I think is an important detail.

[2020-08-01 02:07] sclavijo93 opened #145 "Are the 'CodeField' props being exported?"
I'm using typescript and I need to create a component named 'PinInput' that contains the CodeField component inside and I want all the props I pass to the 'PinInput' component to be redirected to the CodeField component. So when I create my 'PinInput' component's interface I put a CodeFieldProps type.

[code]

and then use it like this
[code]

without typescript warnings.

Can anyone help me pleas

[2020-08-01 14:32] retyui commented on #145
[code]

[2020-08-01 14:32] #145 closed

[2020-08-01 14:47] sclavijo93 commented on #145
Great, I'm new in typescript so I didn't think in that approach. Thank you @retyui

[2020-08-02 04:18] amitv1992 commented on #138
I tried Installing "5.1.0" or 5 by doing react-native-confirmation-code-field@5, this feature is not working.
Even i tried  doing, what you said [here](https://github.com/retyui/react-native-confirmation-code-field/tree/master/examples/DemoCodeField/src/UnderlineExample#underline-example)
// GOOD ✔️
renderCell={({index, symbol, isFocused}) => (
  <View
    key={index}
    onLayout={getCellOnLayout

[2020-08-04 14:41] NRech commented on #138
I am using RN version 0.62.2 (Expo 38) and the version 6.5.0 of the library, and I have the same problem. But it's very weird, first time I installed and created my custom component, everything was working just fine, so out of nowhere, it stopped, on both platforms.
I did not update anything related, just installed some new libraries and booom.
Weirdly enough, I uninstalled the library and install

[2020-08-04 17:50] retyui commented on #138
@NRech Please try to add a `postinstall` script on `package.json`

[code]

[2020-08-05 00:48] NRech commented on #138
Yes! I think this solved the problem! Any update I'll be posting here!

Thank you so much for your amazing work with this component!

[2020-08-11 19:12] sclavijo93 opened #146 "Forward ref and useBlurOnFulfill"
Hi, I need some help 😅  is there a way to use React forwardref and useBlurOnFulfill ath the same time? I have a custom component that has the CodeField component inside and I want to focus the CodeField programatically when onSubmitEditing of another textinput is triggered.

[2020-08-11 19:34] retyui commented on #146
It help?
[code]

[2020-08-11 19:41] sclavijo93 commented on #146
Works like a charm! Thanks for the quick response!

[2020-08-11 19:41] #146 closed

[2020-08-11 19:45] sclavijo93 commented on #146
Thank you so much

[2020-08-13 09:56] stylewith opened #147 "how can i get value(verify code) on other Component?"
hello! I am beginner development, student
I use UnderlineCode and I want to get value... help me plz

I have one Screen.js
..
View
  UnderlineCode/
/View
..

I have this component UnderlineCode.js

If I run console.log (value) in UnderlineCode.js now, the value comes out.
However, I would like to store the value of UnderlineCode in State={code:''} in Screen.js. Ask if there's any way.

[2020-08-13 10:43] retyui commented on #147
I hope the next example should help

https://github.com/retyui/react-native-confirmation-code-field/issues/122#issuecomment-620479087

[2020-08-13 11:22] stylewith commented on #147
hello retyui~
thank you answer~
But I have some error T.T
I follow your answer But.... Can't find variable: value
where can i write value?? error is located at in Screen.js

[2020-08-13 11:44] stylewith commented on #147
Oh!! I Change value={this.state.value}
Thankyou so much!! I love you ahahah

[2020-08-13 12:20] retyui commented on #147
Your welcome

[2020-08-13 12:20] #147 closed

[2020-08-17 10:11] liorokach opened #148 "expo sdk 38 not compatible - Error "Object is not a constructor" on TextInput"
## 🐛 Bug Report

### Summary of Issue
After upgrading 37.0.0 to sdk 38.0.0.
expo start resolved in success but when i try to open my application on simulator\phone i get an error.
on vscode terminal i get this message: "Unable to start your application. Please refer to https://expo.fyi/no-registered-application for more information".
on the simulator the error is "Object is not a constructor".
Aft

[2020-08-17 10:13] retyui commented on #148
@liorokach
Hi
It was fixed in the latest version!

[2020-08-17 10:32] liorokach commented on #148
Thanks, i upgrade to 6.5 and now its working fine - closing the issue!

[2020-08-17 10:32] #148 closed

[2020-08-20 17:35] jmlavoier commented on #138
I had the same problem. I solved removing my `node_modules` and installing everything again.

[code]

I didn't try to add that "postinstall" running that js. I believe that doing this we don't need to do what I did anymore, do we?

[2020-08-30 12:31] tal32123 opened #149 "Paste not available on Xiaomi Mi 9T Android 10"
Paste is not an available option on my Xiaomi Mi 9T with Android 10, must write by hand on android 10. I have option for autofill and frequent phrases, neither of these are relevant options.

[2020-08-30 12:31] tal32123 opened #150 "No SMS autofill Android"
Would be a nice feature to have if phone can read SMS and autofill

[2020-09-01 08:09] retyui commented on #149
Use a separate module for this feature https://npms.io/search?q=react+native+otp

[2020-09-01 08:09] #149 closed

[2020-09-01 08:10] retyui commented on #150
Use a separate module for this feature https://npms.io/search?q=react+native+otp

[2020-09-01 08:10] #150 closed

[2020-09-16 18:19] mikehuebner opened #151 "useBlurOnFulfill freezes app"
Hello!

Found a small bug on RN 0.63.2 with the latest of this package. Using `useBlurOnFulfill` caused the whole app to freeze and basically replacing it with a custom `useEffect` made it work fine.

Example:
[code]

I can provide more information if you cannot reproduce, my environment is not doing anything special and just acts odd. I think it might have something to do with react-navigation v4

[2020-09-17 08:14] retyui commented on #151
@mikehuebner Could you please provide a demo repo?

[2020-09-18 02:40] aprilmintacpineda opened #152 "Add prop to disable the field and then pass that prop as well to renderCell"
The disabled prop will disable the text field so that when the form is submitting, the user should not be able to tap on the field.

[code]

[2020-09-18 07:53] retyui commented on #152
@aprilmintacpineda please try:

[code]

[2020-09-25 02:38] kristoff2016 commented on #138
Any update?

[2020-09-25 04:07] kristoff2016 commented on #122
about in react hook?

[2020-09-25 07:06] retyui commented on #122
@kristoff2016 excuse me,
 what?

[2020-09-25 07:07] retyui commented on #138
Use the next hack:
https://github.com/retyui/react-native-confirmation-code-field/issues/138#issuecomment-668737557

[2020-09-25 07:07] #138 closed

[2020-09-25 07:30] kristoff2016 commented on #122
I tried to get value from the component but it does not work

`// Form.js
import MyCodeField from './MyCodeField';

const Form = () =>  {
  const [value, setValue] = useState('');

  render(){
    return <MyCodeField value={value} setValue={this.setValue}  />
  }
}

// --------------------------------------------------------------------------------------
// MyCodeField.js
import React from 'react'

[2020-09-25 09:34] retyui commented on #122
You used an invalid code (mixed style class or function)
[code]

[2020-09-25 09:50] kristoff2016 commented on #122
Hello @retyui thanks for your reply. I got an error from `useClearByFocusCell ` said that `setValue` is not function from `Form.js` when it is trying to get value and sending back to component do you have any example? really appreciated that

[2020-09-25 11:05] retyui commented on #122
@kristoff2016 I recommend you to use a debugger to find the cause of the issue

console.log({value, setValue}) //
useClearByFocusCell(...)

[2020-09-25 11:05] #122 closed

[2020-09-25 11:49] dinh1997 commented on #138
It don't work for me

[2020-09-25 13:31] retyui commented on #138
@dinh1997 Could you please create a demo repo?

[2020-09-25 13:31] retyui commented on #137
See https://github.com/retyui/react-native-confirmation-code-field/issues/137#issuecomment-651611190

[2020-09-25 13:31] #137 closed

[2020-09-25 13:32] #152 closed

[2020-10-13 12:52] krzysztofnowak opened #153 "can't click on first cell [iOS only]"
I found issue with current implementation. It appears on ios devices only. Hardware, cause on simulators can't reproduce it

Scenario:
1. Fill all or several cells
2. Click on second cell - it gets focus, clears itself and all the following cells too
3. Click on first cell - instead of getting focus, a longpress tooltip appears

![Screenshot 2020-10-13 at 14 45 37](https://user-images.githubuserco

[2020-10-15 12:53] gudberg opened #154 "Error when using borderColor"
Hello, thanks for a great library :)

Everything works well until I use borderColor, but that causes crash.

version:
  "react": "16.13.1",
   "react-native": "0.63.3",

<img width="587" alt="Screenshot 2020-10-15 at 12 51 08" src="https://user-images.githubusercontent.com/16470938/96128636-21111780-0ee5-11eb-9aea-5827d6ba5b7f.png">

[2020-10-15 14:29] retyui commented on #154
@gudberg Could you please show how you set borderColor?

[2020-10-15 14:45] gazedash commented on #151
Seems like useBlurOnFulfill prevents keyboard from being opened again

[2020-10-15 14:57] gudberg commented on #154
Styling
[code]

the return in the component
[code]

I was just using the code in the readme

[2020-10-15 16:07] retyui commented on #154
To fix it need `<View/>` wrapper for Cell, but don't forger to move `onLayout={getCellOnLayoutHandler(index)` to `<View/>`:

[code]

[2020-10-15 16:10] retyui commented on #151
This hook a really simple, are you sure that the next logic can affect it:

[code]

[2020-10-18 17:58] 2j2e commented on #138
Expo 39, "react-native-confirmation-code-field": "^6.5.0"
Same issue, can't fix it in any way.

[2020-10-22 19:38] ignaciolopez12 opened #155 "more than one character in a cell"
I need to generate 3 cells, and that in a cell more than one character can be allowed .. how can I do it with this library?

[2020-10-23 09:27] #154 closed

[2020-10-23 09:29] retyui commented on #155
Could you please show a design that do you implement

[2020-10-23 13:41] ignaciolopez12 commented on #155
_____ - _______ - ____

2 characters would be placed in the first input, 5 characters in the second, and a character in the last

[2020-10-23 13:42] retyui commented on #155
https://github.com/retyui/react-native-confirmation-code-field/tree/master/examples/DemoCodeField/src/FormattingExample

Just look at example

[2020-10-23 21:48] megantaylor commented on #153
i'm seeing this as well, only on iOS

[2020-10-23 22:32] megantaylor commented on #153
if i click quickly multiple times (like 3-4?), it gets focus and clears

[2020-10-23 23:48] megantaylor commented on #153
in testing, i was able to make click to clear on first cell work by passing a negative marginLeft equal to the width of a cell to `textInputStyle` and modifying the `findIndex` function in `useClearByFocusCell` to subtract the width of a cell from locationX before doing comparisons. but i really, really, really don't want to use this hack in production.

[2020-10-25 13:14] #155 closed

[2020-10-25 13:18] #151 closed

[2020-10-26 10:13] sprotymo commented on #153
`textInputStyle={{
        justifyContent: "center",
        alignItems: "center",
      }}`

I settled on this solution, I think it's better than negative margins, but not good enough for production

[2020-10-27 13:32] sprotymo commented on #140
the solution in 6.5.0 broken another feature described in
https://github.com/retyui/react-native-confirmation-code-field/issues/153

[2020-10-27 13:39] retyui commented on #153
@sprotymo Thanks
I will revert it

[2020-10-27 14:03] retyui commented on #153
Fixed in [6.5.1](https://npmfs.com/compare/react-native-confirmation-code-field/6.5.0/6.5.1/)
Thanks @sprotymo

[2020-10-27 14:03] #153 closed

[2020-10-27 14:08] retyui commented on #140
I reverted the fix [6.5.0](https://npmfs.com/compare/react-native-confirmation-code-field/6.4.0/6.5.0/) in the latest version because in affected https://github.com/retyui/react-native-confirmation-code-field/issues/153

[code]

[2020-10-27 18:31] megantaylor commented on #153
in 6.5.1 now i cant clear cell on focus for any cell

[2020-11-11 16:23] Abakanmeister opened #157 "Code is not appear in keyboard menu"
Environment:
[code]

Hi) Code from message is not appear in menu on top of keyboard, so i cant autofill textInput. Nothing happen after receiving code in sms. Need help ;( I wrapped CodeField like this:

[code]

And component with input itself:

[code]

Styles:

[code]

[2020-11-12 11:29] Abakanmeister commented on #157
Just for now i've found apple requirements for sms text to be used with 'onetimecode' option of textinput:
- must contain the words code, passcode or verification number
- the number should appear after the above words
- code must be numeric and between 3 and 8 digits without spaces
- must not be using a custom keyboard
Maybe this is the cause of my problem ;(

[2020-11-12 13:32] retyui commented on #157
What sms did you receive?

[2020-11-13 11:52] jb9474 opened #158 "class based example"
Nube Alert:

We have upgraded to v6 following React Native upgrade, and are implementing your package - which worked perfectly the last two years. However we use class based components which cause a error throw as now your code / examples make use of react hooks and useState.

Do you have an example of your underline style code verification using class based components please?

[2020-11-13 12:14] retyui commented on #158
your welcome

[code]

[2020-11-13 14:07] jb9474 commented on #158
hi David, thanks very much for your response.
Implemented and working as expected (iOS)
Testing android shortly!
Thanks very much for maintaining this package!

[2020-11-13 20:45] #158 closed

[2020-11-16 12:01] Abakanmeister commented on #157
For IOS sms message formatting the only thing u need is: have ur 3-8 digits code at the end of the string like: ': 111111', no "code" or "passcode" word is needed, and the only <TextInput/> prop u need is: keyboardType="number-pad". For android u need to configure hash for your app (package name + release key) using https://github.com/googlearchive/android-credentials -> sms-verification/bin/~.sh

[2020-11-16 12:01] #157 closed

[2020-11-18 13:26] ifier opened #159 "Question: How can I programmatically set focus to the CodeField?"
CodeField needs ref with `useBlurOnFulfill({ value, cellCount });`. How can I pass my own ref with that and then call something like `this.codeField.focus()`?

[2020-11-18 15:11] retyui commented on #159
your welcome

[code]

[2020-11-18 19:46] robsonnjunnior commented on #159
@retyui

Not work for me!

[code]

[2020-11-20 10:47] retyui commented on #159
@ifier try to debug code, do you see 'focus' in the console when manually invoke `inputCodeSMSRef.focus()`
[code]

[2020-11-20 11:04] ifier commented on #159
I've choose another way - https://www.npmjs.com/package/@seznam/compose-react-refs

[2020-11-20 11:06] #159 closed

[2020-11-28 16:08] dhavalpanchani commented on #25
@retyui : Good job, Keep it up. I was looking for the autofill SMS, I think I can use this.

[2020-12-05 10:16] space-mvc opened #160 "when i change onChangeText= value then the code input stops working"
I am trying to obtain the value of the code input.
When i use this below the code input works fine yet i cannot get the value

`onChangeText={setValue}`

when i change the code as below

` onChangeText={(value) => console.log(value, 'test')}`

i get the console logs working correctly but the code input stops working on the screen. So all four spaces remain blank.

I also tried `setState()` instead

[2020-12-05 13:55] retyui commented on #160
If I understand correctly, it should fix your problem
[code]

[2020-12-06 05:09] space-mvc commented on #160
Hi when i use the following code the code input continues to work as normal

`onChangeText={value => {
     setValue(value);
 }}`

However how do i collect the value inside an onPress button action?

`onPress={() => {
     console.log({setValue});
 }}>Verify</Text>`

This just returns the following inside `console.log()` instead of a value

`{"setValue": [Function bound dispatchAction]}`

[2020-12-06 08:21] space-mvc commented on #160
Here is the complete code, i started off from your animated example

`
import {Animated, Image, SafeAreaView, Text, View} from 'react-native';
import React, {useState} from 'react';

import {
  CodeField,
  Cursor,
  useBlurOnFulfill,
  useClearByFocusCell,
} from 'react-native-confirmation-code-field';

import styles, {
  ACTIVE_CELL_BG_COLOR,
  CELL_BORDER_RADIUS,
  CELL_SIZE,
  DEFAULT_CELL_BG_

[2020-12-07 08:13] retyui commented on #160
[code]

[2020-12-09 15:50] AndreasA opened #161 "autofocus / ref.current.focus - Immediately loses focus / blur event after focus"
If I use autofocus or as a workaround ref.current.focus then the element is focused shortly but it immediately looses focus again. After adding a `onBlur` listener, it turns out that immediately a `onBlur` event is triggered.

This result in the keyboard opening and closing. If I do `ref.current.focus` with e.g. 500ms timeout it works but not sure if that  timeout is enough for all devices.

[2020-12-10 08:03] AndreasA commented on #161
OK. I found out the issue it is not your fault the problem was that we navigate to the screen from a BottomSheet modal via react navigation and apparently the closing of the modal ensures the input loses focus. Tested by doing the navigation outside a modal where it works fine.

[2020-12-10 08:03] #161 closed

[2020-12-10 10:33] davidbiller opened #162 "React Native Web - Error with new TextInput({})"
TypeError: react_native_web_dist_exports_TextInput__WEBPACK_IMPORTED_MODULE_6__.default is not a constructo

[code]

[2020-12-10 10:35] retyui commented on #162
@davidbiller Please use the latest version of react-native-confirmation-code-field

[2020-12-10 10:36] retyui commented on #162
Dublicated: https://github.com/retyui/react-native-confirmation-code-field/issues/148

[2020-12-10 10:36] #162 closed

[2020-12-11 14:17] retyui commented on #160
@space-mvc Can I close this issue ?

[2020-12-22 01:33] ertomz opened #163 "Remove input on press not working"
Hello! Thank you for this repository – insanely helpful!

This issue revolves around removing inputs. In the examples, when a user presses on a cell that already has an input in it, the rest of the cells ahead of it clear and the user can start typing again from where they pressed.

I copied all the code from here, but this doesn't seem to be working.

If I'm understanding it correctly, this shoul

[2020-12-22 08:49] #160 closed

[2020-12-22 08:52] retyui commented on #163
Do you use expo, or what rn version?

Also, please try to run :

[code]

[2020-12-22 16:52] ertomz commented on #163
Yes, using expo "~39.0.2". Installing that worked!!! Thanks so much :)

[2020-12-23 07:39] Dylan0916 opened #164 "[Feature request] Callback triggered when the input box is filled"
as title.

If you already have this feature, please ignore me.

thanks.

[2020-12-26 22:06] retyui commented on #164
Hi @Dylan0916

Full state management on your side

[code]

[2020-12-26 22:08] #163 closed

[2020-12-27 02:17] Dylan0916 commented on #164
Got it, thank you
I will close this issue 😄

[2020-12-27 02:17] #164 closed

[2021-01-16 01:41] dannypaz commented on #143
@retyui do you know when the change to add `value` and `setValue` was made. I tried to check changelog

[2021-01-16 08:05] retyui commented on #143
@dannypaz

`useBlurOnFulfill` was added in [5.x.x](https://npmfs.com/compare/react-native-confirmation-code-field/4.0.0/5.0.1/) and has not changed since then

![image](https://user-images.githubusercontent.com/4661784/104806711-321e3d00-57e2-11eb-95b0-50277980aa81.png)

[2021-01-18 12:38] rjuevesano commented on #153
I'm trying to copy the code from email and paste it but there's no way to paste it. Does it support copy and paste? Right now, it only works with paste code from SMS.

[2021-01-18 15:33] retyui commented on #153
@rjuevesano
iOS or Android ?

[2021-01-18 15:36] rjuevesano commented on #153
I only tried on iOS

[2021-01-19 00:04] ajlamarc commented on #153
Is there a solution to this issue yet for IOS?  I tried adding contextMenuHidden to the CodeField, which removes the popup but it still won't accept a click on the first box unless you tap on it 4 times back to back.

I tried adding @sprotymo 's style directly to the CodeField but that does not fix it, i may have to try @megantaylor 's solution if not.  I would prefer if copy and paste were not an

[2021-01-22 01:45] ajlamarc opened #168 "IOS first cell does not clear on tap"
This is a repeat of issue #153 , it is still a problem in version 6.5.1 (iOS only).  My experience with the bug is the same as stated in said thread, if you tap 3-4 times in quick succession it lets you clear the first element.  I wanted to know if this is in future plans to be fixed.

Thank you for taking the time to manage this repo.

![image](https://user-images.githubusercontent.com/56094073/1

[2021-01-24 12:41] retyui commented on #153
To fix this problem there is no silver bullet solution, but you can try:

1) Workaround with `selection={{start,end}}` prop

I this case it prevents users to select the text (by double tap on text input), but it affects the appearing `copy/paste` menu

[code]

2) Workaround with `caretHidden={false/true}` prop

for this case, it works differently for cases when `value` empty or not for cases when

[2021-01-24 12:42] retyui commented on #168
See more: https://github.com/retyui/react-native-confirmation-code-field/issues/153#issuecomment-766341793

[2021-01-24 12:42] #168 closed

[2021-01-24 14:17] maoryadin opened #169 "Is it possible to go back to the first index without deleting everything else?"
Is it possible to go back to the first index without deleting everything else?

[2021-01-24 14:24] retyui commented on #169
Hi @maoryadin

This behavior is not supported if you have an idea of how to implement it

 PR welcome

[2021-01-24 14:58] maoryadin commented on #169
Thanks, i will implement

[2021-01-24 14:58] #169 closed

[2021-02-05 15:18] ETLopes commented on #71
Why this change was reverted?

[2021-02-05 19:54] retyui commented on #71
Hi  @ETLopes
The latest version conceptually different. The main idea was to give developers a flexible API without limitation.

As result it really easy to create different types of code fields
- [Animated variant](https://github.com/retyui/react-native-confirmation-code-field/tree/master/examples/DemoCodeField/src/AnimatedExample)
- [Formatting example](https://github.com/retyui/react-native-con

[2021-03-04 15:15] DonDes17 opened #170 "Question: How can I programmatically re-set the focus to the first cell when receive an error props"
Hi ! i wanted to know haw to re set the focus on the first cell when receive an error ?
And also how to  clear the fields ? ^^
 I work  with this type of component :

[code]

thx !!

[2021-03-04 15:59] retyui commented on #170
quick answer

 - set a new `key` prop to force react remount component + autoFocus + value=''

[2021-03-04 16:18] DonDes17 commented on #170
thank you for your response ;)

ok i have add this to my useEffect :
[code]
and this to the CodeField component :
[code]
 but that don't work

[2021-03-05 09:53] DonDes17 commented on #170
Ok I've find a solution with your proposition and a props i receive thx !

[2021-03-08 15:52] retyui commented on #170
Cool!

[2021-03-08 15:52] #170 closed

[2021-03-11 22:38] greggameplayer opened #171 "Error when filling all the boxes"
Tested on web navigator, only when fully filled there is those two errors which appear :
![image](https://user-images.githubusercontent.com/33609333/110864783-e14b3200-82c2-11eb-9bc8-7e04b937d960.png)

![image](https://user-images.githubusercontent.com/33609333/110864719-ca0c4480-82c2-11eb-8e5f-16e233b3b904.png)

[2021-03-12 13:29] retyui commented on #171
@greggameplayer, Could you please create a demo to reproduce this issue?

[2021-03-13 14:24] greggameplayer commented on #171
here is the code i've used to make a component :
[code]

[2021-03-13 14:26] greggameplayer commented on #171
Here is how i inserted it in my page :
[code]

[2021-03-20 11:50] retyui commented on #171
@greggameplayer I create an expo snack and it works (web) without error for me https://snack.expo.io/@retyui/d95d7f

[2021-03-20 13:53] greggameplayer commented on #171
@retyui it's weird and if you try under a real project it's doesn't error error either ?

[2021-03-20 14:57] mariomurrent-softwaresolutions commented on #25
Should this also work for Android?

[2021-03-22 08:44] retyui commented on #25
@mariomurrent-softwaresolutions

For the Android platform, you can use an SMS listener, to insert code

- https://github.com/wolfgio/react-native-android-sms-verification
- https://github.com/RobertBonfada/react-native-sms-receiver
- ...

[2021-03-22 08:45] retyui commented on #171
So if you provide this real project it was easier to fix this issue

[2021-03-22 20:33] mariomurrent-softwaresolutions commented on #25
Hmm well this will probably not well with Expo, right?

[2021-03-22 21:41] retyui commented on #25
I didn't find API in the docs, Someone requested this feature (see https://forums.expo.io/t/built-in-android-ios-sms-listener/19361/2)

[2021-03-24 12:34] gulsher7 commented on #117
Simple give   overflow: 'hidden' props in cell object styles,

  cell: {
    paddingTop: 7.5,
    width: 40,
    height: 60,
    color: "#404157",
    fontSize: 35,
    backgroundColor: 'white',
    fontFamily: "Gilroy-Bold",
    textAlign: 'center',
    borderRadius: hp(1.5),
  overflow: 'hidden' -->>>>>add this props
  },

[2021-03-24 12:38] gulsher7 opened #172 "Border radius not showing in ios devices."
Hey react developers, if you facing border radius issue in ios devices. I have found one solution simply you just give overflow: 'hidden' props in your custom cell object style.

 cell: {
    width: 55,
    height: 55,
    lineHeight: 55,
    fontSize: 30,
    fontWeight: '700',
    textAlign: 'center',
    marginLeft: 16,
    backgroundColor: '#eee',
    borderRadius: 8,
    overflow: 'hidden' --

[2021-03-30 06:59] retyui commented on #172
React Native have issue with [border styles for `<Text/>` on iOS](https://github.com/facebook/react-native/issues/23537).

To fix it need `<View/>` wrapper for Cell, but don't forger to move `onLayout={getCellOnLayoutHandler(index)` to `<View/>`:

[code]

[2021-03-30 11:16] ganesh-papola opened #173 "this package available on npm"
is this forked version available on npm or have to install from github?

[2021-03-30 11:18] ganesh-papola commented on #171
@greggameplayer did you installed it (this forked version) from npm or github. is this version available on npm?

[2021-03-30 20:00] greggameplayer commented on #171
@ganesh-papola I installed it from npm

[2021-03-31 06:45] retyui commented on #173
Yes it available on npm with a new name https://www.npmjs.com/package/react-native-confirmation-code-field

[code]

[2021-03-31 06:45] #173 closed

[2021-03-31 06:46] #172 closed

[2021-04-01 08:38] summerkiflain commented on #25
How does this thing works with iOS, I am not getting "From Messages XXXX" above may iPhone numeric keyboard. do I need to send my message in some specific format for iOS also?

[2021-04-01 10:09] mariomurrent-softwaresolutions commented on #25
Same applies for me

[2021-04-01 10:11] summerkiflain commented on #25
I figured this out, you have to have OTP in message text for iOS numeric keyboard to pick it up.

[2021-04-01 10:16] mariomurrent-softwaresolutions commented on #25
What does OTP mean?

[2021-04-13 09:47] DonDes17 opened #174 "Question: Placeholder for cell value"
Hi!
Just a little question :
Do we have a way to create a placeholder for the value cell?

[2021-04-13 16:43] ThingCoDanW commented on #138
This still appears to be an issue on Android. Have not tested on iOS yet, but it's working on web.

I've set it up as specified in the docs, with the `onLayout={getCellOnLayoutHandler(index)}` on my wrapper view, but no luck.

[2021-04-19 09:40] DonDes17 commented on #174
Thank you! that make sense ^^

[2021-04-20 07:09] learncodingforweb opened #175 "error in web"
Getting error

[code]
using webpack config
[code]

using following packages

[code]

[2021-04-26 09:33] retyui commented on #175
[code]

[2021-04-26 09:33] #175 closed

[2021-04-26 11:43] learncodingforweb commented on #175
Getting following warnings
[code]

[code]

[2021-04-26 12:19] retyui commented on #175
@learncodingforweb Could you please provide a DEMO REPO to reproduce this error?

[2021-04-26 15:43] learncodingforweb commented on #175
@retyui, Please check repo
https://github.com/learncodingforweb/react-native-confirmation-code-field-web-example

[2021-04-27 11:42] #174 closed

[2021-04-27 11:47] retyui commented on #175
Fixed in 7.1.0

diff: [7.0.1...7.1.0](https://npmfs.com/compare/react-native-confirmation-code-field/7.0.1/7.1.0/)

[2021-04-27 11:47] retyui commented on #171
Fixed in [7.1.0](https://github.com/retyui/react-native-confirmation-code-field/blob/master/CHANGELOG.md#710)

diff: [7.0.1...7.1.0](https://npmfs.com/compare/react-native-confirmation-code-field/7.0.1/7.1.0/)

[2021-04-27 11:47] #171 closed

[2021-04-27 16:50] learncodingforweb commented on #175
no warning messages appear in 7.1.0

But
**onEndEditing={(e)=> console.log('end')}**
is not executing at the end of entering all the digits

[2021-05-05 12:29] ganesh-papola opened #177 "Ipad Design Support?"
Is this library supports Ipad or Tab designs?
<img width="548" alt="Screenshot 2021-05-05 at 5 57 15 PM" src="https://user-images.githubusercontent.com/19851598/117140704-5589e980-adcb-11eb-9c3d-363f2b610472.png">

Space btw two boxes is much. Any help with that?

[2021-05-05 12:36] retyui commented on #177
Hi @ganesh-papola, For this case, you can limit the wrapper component width to reduce space

[code]

Docs: [CodeField::rootStyle](https://github.com/retyui/react-native-confirmation-code-field/blob/master/API.md#rootstyle-styleproprootcomponent)

[2021-05-05 21:46] mateodaza commented on #25
one time password

[2021-05-06 06:57] ganesh-papola commented on #177
Thanks It worked @retyui

[2021-05-06 06:59] ganesh-papola commented on #177
Any solution for default box position to center for ipads ?
<img width="997" alt="Screenshot 2021-05-06 at 12 28 25 PM" src="https://user-images.githubusercontent.com/19851598/117254848-8ff49480-ae66-11eb-9600-cb00c03066dd.png">
<img width="1007" alt="Screenshot 2021-05-06 at 12 28 53 PM" src="https://user-images.githubusercontent.com/19851598/117254917-abf83600-ae66-11eb-8ac3-a0974b2a9c08.png">

[2021-05-06 07:35] retyui commented on #177
A strongly recommend you read this article: https://reactnative.dev/docs/flexbox

you can try 2 variants:

[code]

[2021-05-06 09:24] ganesh-papola commented on #177
@retyui I already tried it but the boxes were sticking together. I was asking if there was any prop for container style prop. I am managing with marginHorizontal now ..

[2021-05-06 09:24] ganesh-papola commented on #177
Thanks for the comment btw

[2021-05-06 12:31] #177 closed

[2021-05-19 16:50] HyperNovax opened #178 "Option to paste"
Hi,

It's possible to paste a code ? Stay press on the field and see the past option like a TextInput ?
I try to do that on Android first !

Thank you !

[2021-05-20 12:36] ganesh-papola opened #179 "any prop for keyboard type ?"
Is there any prop for keyboard type there?

[2021-05-20 15:18] retyui commented on #178
By default caret is hidden:

https://github.com/retyui/react-native-confirmation-code-field/blob/f29e191489d12f5910e540fd18ccf65217840800/src/CodeField.tsx#L67-L69

You just change it (but be careful with issue: https://github.com/retyui/react-native-confirmation-code-field/issues/140)

[code]

[2021-05-20 15:18] #178 closed

[2021-05-20 15:20] retyui commented on #179
You can pass `keyboardType` to the CodeField component https://reactnative.dev/docs/textinput#keyboardtype

[code]

[2021-05-20 15:20] #179 closed

[2021-05-24 17:54] HyperNovax commented on #178
Thank you @retyui for your answer ! It's work fine on Android. I will check the behavior on iOS.

[2021-06-03 13:55] Meycon commented on #138
??

[2021-06-04 19:29] megantaylor opened #180 "useClearByFocusCell isnt working"
on version 7.1.0, expo 41 (i upgraded to the latest version of react-native-confirmation-code-field in the hopes that it would magically solve my problem, but it did not. problem also existed in 6.5.1)

i have a pretty basic CodeField implementation, and the useClearByFocusCell used to work so that if i clicked on a cell that was filled, it and all the cells after it would clear. now it doesn't wo

[2021-06-06 07:52] vinaygoyal20 opened #181 "Keybooard not dismissing automatically on input fullfill"
React native version=>0.63.2
RTL mode is enabled.
"react-native-confirmation-code-field": "^6.7.0",

once the input is completed keyboard should be automatically dismissed but it's not closing automatically.

[2021-06-06 08:22] retyui commented on #180
TextInput component does not include "onPressOut" functionally it means that SDK 41 does not use the latest 0.64.x React Native version:

https://github.com/expo/react-native/blob/sdk-41/Libraries/Components/TextInput/TextInput.js

And updating to 7.x.x version did not solve your issue

[2021-06-07 03:05] seancheung commented on #138
Same here with RN 0.63.4 and version 6.7.0
No idea it worked before.

[2021-06-07 10:14] retyui commented on #138
After any install or removing node modules please run `node ./node_modules/react-native-confirmation-code-field/path-rn-62.js`

[2021-06-10 17:00] megantaylor commented on #180
just trying to understand possible solutions, my options are either to revert to an old version of this library that uses the custom text input to add the on press event or write my own custom text input to add the on press event?

[2021-06-11 15:11] retyui commented on #180
if you use expo@41

 you have to use `yarn add react-native-confirmation-code-field@6`

[2021-06-14 11:41] #180 closed

[2021-06-14 20:48] retyui commented on #181
Please make sure that you use `useBlurOnFulfill` hook correctly

[code]

Just tested on the latest version  with RTL and it works

[2021-06-28 02:43] pangzx1 opened #182 "Cannot display border in ios"
react-native  version: 0.64.2
react-native-confirmation-code-field version: 7.0.1
test environment：mac  iPhone 12-IOS14.5
code:
`<View>
        <CodeField
          value={vcodeTxt}
          onChangeText={this.onVcodeChangeText}
          onSubmitEditing={this.onVcodeSubmitEditing}
          cellCount={6}
          rootStyle={styles.codeFiledRoot}
          keyboardType="number-pad"
          ren

[2021-06-28 04:23] #182 closed

[2021-06-28 04:23] pangzx1 commented on #182
The problem has been solved, there is a problem with the custom style

[2021-08-07 03:58] micheilsgrey opened #184 "Help with e2e tests"
Hello, can someone please help me wiht e2e testing for this lib?

Before I had 6 `TextInput`'s with 6 `testID`'s. I switched to this lib and add testID to code. And fixed test 6 fields to one. But looks like something not working or I don't get how to make it right.

[2021-08-07 04:05] #184 closed

[2021-08-07 04:06] micheilsgrey commented on #184
My bad, I forgot to add a new testID to the component with the code field.

[2021-09-03 15:01] YuraTaranov commented on #78
@retyui Hello, I copied the code from the example, but when you click on any input, the focus is not set and it is impossible to delete the data, react native 63.3, tried to wrap the input in a view with a fixed height like the input and set the autofocus prop, it didn’t help, I don’t know what else to do, help please, issue is on android and ios

[2021-09-03 15:34] retyui commented on #78
the main problem is that I use an "a temporary" hack (with was removed in `react-native@0.64+`) to get an event when a user presses on `TextInput`

to apply required changes (with will add `onPress` event listen on `TextInput` component) you can run the next command:
[code]

and restart a Metro server:

[code]

[2021-10-21 09:42] mustafakameldev opened #186 "Test react-native-confirmation-code-field"
"react-native": "0.66.0",
    "react-native-confirmation-code-field": "^7.1.0",

when run test i got  this error below :
` Jest encountered an unexpected token

    This usually means that you are trying to import a file which Jest cannot parse, e.g. it's not plain JavaScript.

    By default, if Jest sees a Babel config, it will use that to transform your files, ignoring "node_modules".`

and it

[2021-10-21 10:15] mustafakameldev commented on #186
react native versoin :  "react-native": "0.66.0",
  "jest": {
    "preset": "react-native",
    "moduleFileExtensions": [
      "ts",
      "tsx",
      "js",
      "jsx",
      "json",
      "node"
    ]
  }

[2021-10-21 10:20] retyui commented on #186
It should helps:
[code]

[2021-10-28 20:01] adrenaline681 opened #187 "How to prevent next button getting focused after writing the code?"
After I finish writing the 4 digits of the code, it will automatically create a gray box around the next TouchableOpacity component I have. How do I prevent this?

![Error](https://user-images.githubusercontent.com/12194431/139326890-e1cbe27d-9273-4458-bbc6-204fdb8e5807.JPG)

[2021-10-29 20:20] retyui commented on #187
did it issue reproduced on Android and iOS ?

[2021-10-29 20:25] adrenaline681 commented on #187
I'm currently only working on Android, I have no way of texting in iOS

[2021-10-30 11:38] theMasix commented on #138
@retyui It solves the issue, But kinda weird solution and there should be a better (probably a built-in one) solution for it.

[2021-10-31 11:15] retyui commented on #138
@theMasix this ugly solution only needs `0.62.x...0.63.x` react-native versions.

I recommend updating your RN version

[2021-10-31 12:07] retyui commented on #187
I react-native core behavior

`useBlurOnFulfill` make blur when all code filled

[code]

[2021-10-31 12:20] retyui commented on #187
Try on a real device, seems this issue only reproduce on an android emulator

[2021-11-08 19:09] paulocf92 opened #188 "Render Cell element's color isn't applied in Dark Mode on Android"
I'm trying out this component on my Android (Xiaomi Mi 9T), but when I set the element color on renderCell prop to pure black '#000' and it is in Dark Mode (phone setting) it won't take effect, it just keeps white. It starts to apply the color from '#333' onwards. Since the cell background is an extra light grey color at all times (#F8F8F8) I have to keep it concise regardless if Dark Mode is on o

[2021-11-09 08:40] retyui commented on #188
A black color gets inverted into White by your OS system, this module doesn't have any specific logic to prevent this behavior

I found a question on StackOverflow for your case: https://stackoverflow.com/questions/57175226/how-to-disable-night-mode-in-my-application-even-if-night-mode-is-enable-in-andr

[2021-11-09 10:27] paulocf92 commented on #188
Kind thanks for this, I will adjust OS folder as pointed out.

[2021-11-09 11:14] #188 closed

[2021-11-11 18:52] #187 closed

[2021-11-11 18:52] #181 closed

[2021-11-22 14:04] d3vma opened #189 "Support clear function!"
Hello, i am trying to get a clear function triggered but I can't see that anywhere in the documentation/examples!

the plugin is quite helpful and I am actually using it for a production code, just need to get a `clear` method supported or it might be hidden somewhere!

[2021-11-22 14:10] retyui commented on #189
@d3vma

`CodeField` is a state-less component! So, when you need to clear state you have done it in your own state:

[code]

[2021-11-24 15:10] d3vma commented on #189
@retyui My mistake I missed that! Cheers.

[2021-11-24 15:10] #189 closed

[2021-11-24 15:47] d3vma opened #190 "Can't highlight last cell after fulfill"
Hi @retyui, thanks for such a nice library.

I've came across a weird behaviour, where when the cells fulfilled and loses focus, when trying to update it, I can't see the highlight over the last cell and there's no indicator that I am highlighting the last cell (tried to fix it by using clear on press but that didn't work too)

<img width="346" alt="Screenshot 2021-11-24 at 16 42 33" src="https://

[2021-11-24 15:55] d3vma commented on #190
Component snippet
![image](https://user-images.githubusercontent.com/12911080/143271751-48cd9bd7-ad16-42ba-9417-d7ffac645cd2.png)

Configs
![image](https://user-images.githubusercontent.com/12911080/143271687-3d1507bf-3fe3-4357-ba66-8414a9d1b985.png)

[2021-11-24 21:51] retyui commented on #190
could you please create a expo snak with this issue ?

https://snack.expo.dev/

[2021-12-01 19:04] eduardosoller opened #191 "Can't autoFocus on first field"
I cant make the autoFocus work. I didn't find this on the docs so can you provide an example?
Working with
Expo SDK 42
React Native 0.63
react-native-confirmation-code-field@7.2

My code:

[code]

and import to in my component:

[code]

Thank you so much for your time
Regards from Brazil

[2021-12-01 21:30] retyui commented on #191
@eduardosoller Just passing a [`autoFocus`](autoFocus) prop is enough to focus text input

[code]

https://user-images.githubusercontent.com/4661784/144316880-e9a93cbd-ce83-4493-8cc9-aac1bac7ca51.mp4

[2021-12-01 23:37] eduardosoller commented on #191
Thanks for the answer
...but i can't get the autoFocus to work on my app.
I put your basic example as a separate view inside my project, downgraded your lib to version 6 and tested a TextInput with autoFocus prop and it worked but CodeField component didn't.
So still dont know whats happens...maybe some dependency issue?
Here is the main dependencies from my package.json:

    "react": "16.13.1",

[2021-12-02 09:08] retyui commented on #191
@eduardosoller I see you use `react-navigation`,  try set autofocus only when the screen finish appearing animation!

[2021-12-02 14:31] #191 closed

[2021-12-16 09:06] GautierT commented on #181
Hi @retyui
And how can I **not close** the keyboard on fulfill ?

Thanks for this awesome lib !

[2021-12-16 09:09] retyui commented on #181
@GautierT Don't use an `useBlurOnFulfill` hook and Keyboard won't close on fulfill

[2021-12-16 09:11] GautierT commented on #181
As simple as that ! Thanks.

The use of `useBlurOnFulfill` was not clear for me.

[2021-12-16 09:20] retyui commented on #181
It is a very simple hook

When input value length equal cell count it just invoke `inputRef.blur()` method

https://github.com/retyui/react-native-confirmation-code-field/blob/0b3fa93ec2beadf115fd666f85fa7297f28cdaf2/src/useBlurOnFulfill.ts#L9-L22

[2021-12-16 09:43] GautierT commented on #181
Okay got it.
It could be useful to be able to call an other function than bur.
I want, for example, to go next page when value length equal cell count. Or trigger a form validation...

I did something like that :
[code]

onFull() is a function passed as a props that I want to call when input is "full".

Thanks for the explanation !

[2021-12-16 18:11] mohammadjfadaee commented on #137
thanks bro 😍😍

[2022-01-17 14:01] muslumsezgin opened #192 "Custom TextInput Handling"
Hello there, this commits adds a custom text input as a param with the default component as fallback value. Concern was to pass a custom text input comp for dynamic usage.

[2022-01-17 14:46] #192 closed

[2022-01-20 12:19] akinncar commented on #178
paste doesn't work on iOS for me

the box Copy/Paste is showing, but nothing happens

[2022-01-20 12:27] retyui commented on #178
@akinncar could you please provide more information?

[2022-01-20 12:41] akinncar commented on #178
yes, there is my code:

[code]

[code]

[2022-01-21 14:43] Prisoner-debugger opened #194 "Placeholder and it's styling"
Hi! I'm new at programming and I have a dumb question :
Do we have a way to create a placeholder if yes then how will it be styled?

[2022-01-21 16:03] retyui commented on #194
placeholder?

could you please provide any images how it should looks like?

[2022-01-21 16:07] Prisoner-debugger commented on #194
![OtpCodeField](https://user-images.githubusercontent.com/73497265/150560220-a8c94731-41c6-4562-871a-d30e2b9cf2d5.JPG)

[2022-01-21 16:10] Prisoner-debugger commented on #194
this is as close I have gotten, I don't know how to change the color of X
![code](https://user-images.githubusercontent.com/73497265/150560725-826db078-d46e-49b5-8610-24c78b3cc0fc.JPG)

![appss](https://user-images.githubusercontent.com/73497265/150560384-da367d25-6b43-4de2-aeed-6258e49b1787.JPG)

[2022-01-21 16:18] retyui commented on #178
@akinncar I created a expo snack  https://snack.expo.dev/DAcuvZz5x from your code

and it works for me

https://user-images.githubusercontent.com/4661784/150562000-5d3aa18b-bea1-4501-801e-14af5c41f1f9.mp4

[2022-01-21 16:24] retyui commented on #194
![image](https://user-images.githubusercontent.com/4661784/150562763-a1dbf311-cfaf-406f-b241-c3fbb228a521.png)

[code]

[2022-01-21 16:28] Prisoner-debugger commented on #194
Thanks a lot it worked

[2022-01-23 08:52] enessahin1 opened #195 "Cell Style"
Hi! I have been giving borderRadius to cell style but it is not working as well and I gave borderWeigth and borderRadius then i saw that! What can i do for it.
![image](https://user-images.githubusercontent.com/32218898/150671300-cad59513-7b8f-4359-832e-3b41e9cf3253.png)

[2022-01-24 10:25] retyui commented on #195
@enessahin1 thy to use `<View/>` as root component of cell

it can be known issue please read: https://github.com/retyui/react-native-confirmation-code-field/tree/master/examples/DemoCodeField/src/UnderlineExample#underline-example

[2022-01-24 10:25] #194 closed

[2022-02-02 11:18] dentep opened #196 "returnKeyType done doesn't work"
[code]

returnKeyType='done' does nothing. The keyboard doesn't dismiss.

[code]

[2022-02-02 11:40] retyui commented on #196
@dentep I think it is known React Native issue://github.com/facebook/react-native/issues/11739

[2022-02-02 13:26] dentep commented on #196
returnKeyType='done' works well with original TextInput by react-native. Even some other libraries that support RN's text input work with that prop.

Example: `react-native-masked-text`

[2022-02-02 14:22] retyui commented on #196
This library define next props by default

[code]

Try to overwrite them maybe it helps

[2022-02-02 14:54] dentep commented on #196
doesn't work either. I am trying to hardcode the returnkeytype prop straight to the lib but nothing changes.

[2022-02-02 14:59] dentep commented on #196
`blurOnSubmit` was the one blocking the Keyboard.dismiss() action.

setting the prop to `true` resolves the problem.

[2022-02-02 14:59] #196 closed

[2022-02-24 21:00] dancomanlive opened #197 "Square cell animated example ios"
The square should be round, not square.

<img width="353" alt="Screenshot 2022-02-24 at 22 00 28" src="https://user-images.githubusercontent.com/16872821/155606839-657f2549-ceb1-4ee6-af80-9eb89e225622.png">

[code]

[2022-02-28 21:21] retyui commented on #197
Try to use a View component for round styles:

[code]

[2022-03-04 17:36] dancomanlive commented on #197
Thank you for the reply. The is no Animated.View in the code above and the code above works as expected on Android.

[2022-03-22 09:07] liho00 commented on #129
@retyui  Switch component missing?

[2022-03-22 09:14] retyui commented on #129
@liho00 what do you mean?

[2022-03-22 09:25] liho00 opened #198 "Hide keyboard by props"
Can I request a feature to hide the keyboard by default with prop?

[2022-03-22 09:28] retyui commented on #198
I don't untested what you mean "hide the keyboard by default"

[2022-03-22 09:59] retyui commented on #198
In this case have to disable pointer events to prevent any taps on input (it won't open keyboard)

-  https://reactnative.dev/docs/view#pointerevents

[2022-03-22 09:59] #198 closed

[2022-03-22 10:02] liho00 commented on #198
Yes, its working! Very Wise! @retyui

[2022-03-22 14:36] Lian39 opened #199 "How to make keyboard to show up automatiacally?"
How can i make keyboard show automatically when I move to screen with CodeField?

[2022-03-22 14:51] Lian39 commented on #199
Yes, autoFocus is set to true

[2022-03-22 14:54] retyui commented on #199
I case using it in navigation it is a known bug, see: https://github.com/react-navigation/react-navigation/issues/9875

Please try this workaround: https://github.com/react-navigation/react-navigation/issues/9875#issuecomment-1050164143

[2022-03-22 15:16] Lian39 commented on #199
I'm new to react native and I'm not shure how to integrate it into my code.
Here it is:
[code]

[2022-03-22 15:24] Lian39 commented on #199
Edited the code, bot nothing has changed :(

[2022-03-22 15:28] retyui commented on #199
Try again (I've just updated the code above))

[2022-03-22 15:29] danil251 opened #200 "Hello, tell me how to remove the cursor when you click on the back button in android navigation, as well as when you click on any part of the screen"
Hello, tell me how to remove the cursor when you click on the back button in android navigation, as well as when you click on any part of the screen

[2022-03-22 15:32] retyui commented on #200
Please use stack-overflow for these types of questions!

[2022-03-22 15:32] #200 closed, assigned to nobody

[2022-03-22 15:36] Lian39 commented on #199
Now it's working. Thanks a lot!

[2022-03-22 15:36] #199 closed

[2022-03-22 15:45] Lian39 opened #201 "How can I take some action after entering the code?"

[2022-03-22 16:15] Lian39 commented on #201
How can I, for example, navigate to another screen after fully entering the code?

[2022-03-22 17:02] retyui commented on #201
Please use stack-overflow for these types of questions!

[2022-03-22 17:41] Lian39 opened #202 "Facing problems with using new method of calling onFulfill()"
I need to call onFulfill when entire code is entered. So I removed `onChangeText={setValue}` and pasted:
[code]
But now I can't enter any text, so where I should place setValue?

[2022-04-04 20:41] shop-fluencer opened #203 "Run function when wrote last letter ?"
Hello,

If I write the last letter the Keyboard hides automatically thats good but in this time I want to call a function. How I did this ?

[2022-04-04 20:47] retyui commented on #203
here is an example:
[code]

[2022-04-04 20:47] #203 closed

[2022-04-04 20:48] #202 closed

[2022-04-04 20:49] #197 closed

[2022-04-04 20:49] #195 closed

[2022-04-06 17:57] rgarcia-longevo opened #204 "My app crash when I tap on the boxes"
Hi, Team. I found an issue in your component. I think it isn't a critical one but it's an issue.
<img width="504" alt="Screen Shot 2022-04-06 at 14 49 30" src="https://user-images.githubusercontent.com/102546968/162037515-37c726af-2bb9-4fb8-a68f-33132fe00e16.png">

When I tap fastly 10 or more times over the boxes, the app crash.
<img width="504" alt="Screen Shot 2022-04-06 at 14 50 31" src="https

[2022-04-06 22:07] retyui commented on #204
can you reproduce it on debug build ?

[2022-04-07 20:23] rgarcia-longevo commented on #204
Thank you @retyui I had a mistake in the way in which I'm using the component.
You can close this issue. Thank you very much!

[2022-04-07 22:07] #204 closed

[2022-04-12 08:20] mariomurrent-softwaresolutions commented on #25
So how does your SMS look like that it gets picked up?

[2022-04-15 05:24] chinmay4github1987 opened #205 "Entered data from right of the cursor is deleting when randomly removing the text from cell"
If I remove 3rd cell, next cells text is removed automatically

[2022-04-21 06:03] gani419 commented on #205
This issue is happening for me also.
If the cell count is 6. If I place cursor in 3rd cell, then 4,5 and 6 are also getting deleted.

[2022-04-23 18:41] retyui commented on #205
That's right, it's core behavior (not an issue)

if you have ideas how to improve it PR welcome

[2022-04-25 05:23] gani419 commented on #205
Ok. Thank you for the response.

[2022-05-20 01:31] jgudo opened #206 "Prevent Keyboard from dismissing when all inputs filled"
First of all, I just want to thank you for this amazing library!

My question is, how do I prevent the keyboard from dismissing upon filling out all the fields? Is there a prop available for this?

[2022-05-20 07:20] davydspotnana commented on #206
@jgudo `useBlurOnFulfill` do this logic, so just do not use it)

[code]

[2022-05-20 07:24] jgudo commented on #206
@davydspotnana Got it! Now  it's working as expected. Thank you!

[2022-05-20 07:24] #206 closed

[2022-05-24 19:56] Nerostalgeek commented on #199
Thanks man you helped me out too :)

[2022-06-01 10:47] noamanmansuri opened #207 "How to stop Resetting rest numbers when clicking on any cell"
How to stop Resetting rest numbers when clicking on any cell
If any one has a solution please, let me know.

https://user-images.githubusercontent.com/102412488/171387323-9aa2f191-c991-432a-aa9e-b6e5170e1164.mp4

[2022-06-01 18:16] #207 closed, assigned to nobody

[2022-06-11 12:18] iim-norse opened #208 "Impossible use different variable name"
TypeError: setValue is not a function. (In 'setValue(text)', 'setValue' is undefined)
<img width="623" alt="Знімок екрана 2022-06-11 о 15 12 43" src="https://user-images.githubusercontent.com/99746223/173187555-b698d8c7-6b80-4c21-a599-84b1ac1c8e2a.png">
when I use variables different from this:
`const [ value, setValue ] = useState('');`
for example if you try `const [ value1, setValue1 ] = useSta

[2022-06-11 14:01] retyui commented on #208
I have an intelligent solution for you issue:

[code]

[2022-06-11 14:01] #208 closed

[2022-06-23 05:52] Cyvid7-Darus10 opened #209 "setValue is not a function"
![image](https://user-images.githubusercontent.com/61748886/175225248-49be42d1-0b3d-4a13-8efe-2a3daed016a5.png)

Image of the error:

![image](https://user-images.githubusercontent.com/61748886/175224971-830b24cd-968c-4dce-b2d3-760e0f1a1634.png)

My version of react-native and the react-native-confirmation-code-field:
![image](https://user-images.githubusercontent.com/61748886/175225121-41e19e25-8

[2022-06-23 06:23] Cyvid7-Darus10 commented on #209
The problem was already solved in this issue,
https://github.com/retyui/react-native-confirmation-code-field/issues/143

[2022-06-23 06:23] #209 closed

[2022-06-25 08:50] bgrgit opened #210 "Input fields accepting ,- and all."
![Screenshot_1656146963](https://user-images.githubusercontent.com/31758716/175765956-52a0df60-db7f-4a37-9a9c-0fe139bb4330.png)
Input field should not attend any input other than number. How to do that. Please help me

[2022-06-25 09:22] retyui commented on #210
It is not an issue of this library

Solution: https://stackoverflow.com/questions/32946793/react-native-textinput-that-only-accepts-numeric-characters

[2022-06-25 09:22] #210 closed

[2022-07-01 16:40] huduarte commented on #146
same happening here, any code example to follow?

[2022-07-03 11:03] partitect commented on #47
value={value.replace(/\D/g, '')}

` <CodeField
            ref={ref}
            {...props}
            value={value.replace(/\D/g, '')}
            onChangeText={setValue}
            cellCount={CELL_COUNT}
            rootStyle={styles.codeFieldRoot}
            keyboardType="numeric"
            //textContentType="oneTimeCode"
            renderCell={renderCell}
          />`

[2022-07-03 13:12] retyui commented on #146
@huduarte Did it help you https://github.com/retyui/react-native-confirmation-code-field/issues/146#issuecomment-672221576 is it?

[2022-08-10 10:34] sirramin commented on #137
I used `flexDirection: 'row-reverse'` but still have the problem.

[2022-08-10 12:30] ankush-xebia opened #211 "not able to run on web"
<img width="1074" alt="Screenshot 2022-08-10 at 5 58 29 PM" src="https://user-images.githubusercontent.com/109645733/183901183-b776ed94-4782-4fef-b582-4a5a58c54be7.png">
My Webpack.config file:

[code]

[2022-08-11 09:57] retyui commented on #211
duplicate: https://github.com/retyui/react-native-confirmation-code-field/issues/175#issuecomment-826676253

[2022-08-11 09:57] #211 closed

[2022-08-12 14:14] bekatd commented on #204
@rgarcia-longevo Can you clarify what mistake you made? I'm having the same problem right now on an iOS device, but not on an Android emulator.

[2022-08-12 14:32] bekatd commented on #204
I have everything exactly like in the example

[2022-08-12 19:44] bekatd opened #212 "App crashes when I tap on the boxes"
https://user-images.githubusercontent.com/6948919/184475319-4804d916-f092-4236-a3a0-82307c13a9a1.mov

    import React, { useState } from 'react';
    import { Text, KeyboardAvoidingView, View, TouchableOpacity } from 'react-native';
    import { connect } from 'react-redux';
    import { SafeAreaView } from 'react-native-safe-area-context';
    import { vs, s, ScaledSheet } from 'react-native-siz

[2022-08-13 07:31] retyui commented on #212
please provide more information or it will be closed

[2022-08-13 08:17] bekatd commented on #212
I added code and video of crash

[2022-08-13 08:34] retyui commented on #212
[code]

[2022-08-13 08:35] #212 closed

[2022-08-13 09:10] bekatd commented on #212
omg thanks <3

[2022-09-16 10:14] somalChakraborty opened #213 "MaskInput -> Unable to erase from last character"
Unable to erase from right to left. Here's a screen recording:
https://user-images.githubusercontent.com/103426987/190616200-7e3f084b-d90c-4e62-aa83-e9258d4f0a9d.mov

 Here's my implementation:

[code]

[2022-09-21 09:57] retyui commented on #213
Could you please provide a description for video, I don't understated what went wrong

[2022-10-04 08:51] umairalirehan opened #214 "auto confirmation code is not added"
i installed this package, its looking nice, but now i see that auto confirmation or auto OTP functionality is not here, please respond its urgent

[2022-10-07 13:42] retyui commented on #214
Please provide more details...

[2022-10-19 11:18] Stevemoretz commented on #25
Hi, recently Android seems to support this too according to: https://stackoverflow.com/a/71386603/10268067 so you'd need to set [autocomplete](https://reactnative.dev/docs/textinput#autocomplete-android) to sms-otp for android to work the same way as iOS does, have you done this interanlly?

[2022-10-28 06:15] andreweinhorn opened #215 "Autofocus code field on screen render"
Is it possible to autofocus the code field when the screen first renders?

<img width="579" alt="have vs want" src="https://user-images.githubusercontent.com/2414383/198516567-ee89b4d7-adc0-46e4-87a9-fc1eb647c690.png">

[2022-10-28 09:22] retyui commented on #215
it should works:

[code]

if you are using an react-navigation you have to know about issues:
- https://github.com/react-navigation/react-navigation/issues/9875
- https://github.com/react-navigation/react-navigation/issues?q=is%3Aissue++autoFocus+

[2022-10-28 09:22] #215 closed

[2022-10-28 16:18] jilherme commented on #199
Thank you! I adapted for my use case (using it on a modal).
Every time I opened, I needed to focus the first cell.

`useFocusEffect(
        useCallback(() => {
            if (!show) return;
            setTimeout(() => ref.current?.focus(), 150);
        }, [])
    );`

[2022-11-09 16:38] iansitouwu opened #216 "How can i disabled the keyboard?"
I am doing a kind of Pin Lock, when I am going to write a pin the native keyboard of the phone opens, I would like to disable the native keyboard so that I can put a keyboard in the application manually that i styled, how could I disabled the keyboard?

[2022-11-09 16:47] retyui commented on #216
please use a stack overflow for this type of questions

[2022-11-09 16:47] #216 closed

[2022-11-09 16:47] #214 closed

[2022-11-09 16:47] #213 closed

[2022-11-09 16:47] #205 closed